.content_ {
    display: flex;

}

.block-top {
    display: flex;
    /*min-height: 150vh;*/
    /*min-height: 100vh;*/
}

.block-top > div {
    color: white;
    background-image: url("/telerehab/images/main.jpg");
    background-repeat: no-repeat;
    min-height: 709px;
}

.block-top > div > h1 {
    font-size: 210%;
    margin-top: -250px;
    margin-left: 50px;
    color: white;
}

.block-top > div > p {
    margin-top: 0px;
    margin-left: 60px;
    width: 60%;
    line-height: 36px;
}

.block-banner > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-banner > div > h1 {
    font-size: 200%;
    margin-top: -135px;
    text-align: center;
    color: var(--color-font);
}

.block-banner .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /*margin: 0 auto;*/
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--color-1);
}

.block-banner .circle > div {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    color: white;
    font-weight: bold;
    font-size: 200%;
}

.block-banner .circle > div  > i {
    font-size: 32px;
    color: white;
}

.circle-arrow-left {
    margin-left: 30px;
}

.circle-arrow-right {
    margin-right: 30px;
}

.block-banner-p {
    color: var(--color-1);
    font-weight: bold;
    font-size: 170%;
    line-height: 28px;
}

.header-div {
    display: flex;
    justify-content: start;
}

.header-div-1 {
    display: flex;
    flex-basis: 25%;
}

.header-div-2 {
    display: flex;
    flex-basis: 63%;
}

.header-div-3 {
    display: flex;
    justify-content: start;
    /*flex-basis: 10%;*/
}

.header-div-3 > div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.block-center .content {
    color: white;
    background-image: url("/telerehab/images/form-gradient.png");
    background-repeat: no-repeat;
    min-height: 709px;
    /*margin-top: -100px;*/
}

.block-center .content {
    /*display: flex;*/
    /*margin-top: 520px;*/
}

.block-center-content-div-1 {
    flex-basis: 40%;
    margin-top: -50px;
}

.block-center-content-div-2 {
    flex-basis: 38%;
    margin-top: 220px;
}

.block-center-content-div-3 {
    margin-top: 220px;
    flex-basis: 32%;
}

.block-center-content-div-2 > h2 {
    color: white;
    font-size: 200%;
    margin-top: 20px;
}

.block-center-content-div-2 > p {
    margin-right: 25px;
}

.block-center-content-div-3 form {
    display: flex;
    flex-direction: column;
}

.block-center-content-div-3 form > input,
.block-center-content-div-3 form > button {
    margin-right: 30px;
}

.block-center-content-div-3 form > input {
    margin-top: 12px;
    height: 50px;
    font-size: 150%;
    border: 0;
    border-radius: 1px;
}

.form-btn {
    height: 50px;
    font-size: 150%;
    background-color: var(--color-1);
    width: 70%;
    color: white;
    margin: 0 auto;
    margin-top: 22px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
}

.block-our-advantages .content > h2 {
    text-align: center;
    color: var(--color-1);
    font-size: 200%;
    margin: 20px 0 20px;
}

.block-our-advantages .content > div {
    justify-content: space-around;
    margin-bottom: 30px;
}

.block-our-advantages .content > div > div {
    color: var(--color-1);
    font-size: 150%;
    font-weight: bold;
}

.block-our-advantages .content > div > p {
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}

.block-our-advantages .content > div > p > span {
    color: var(--color-1);
    font-size: inherit;
}

.block-footer {
    display: flex;
}

.block-footer .content {
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-1);
    color: white;
}

.block-footer .content > div > img {
    /*max-width: 250px;*/
    margin: 20px 0 20px;

}

.block-footer .content > div > div {
    font-size: 160%;
    font-weight: bold;
}












.absolute {
    position:absolute;
}

.relative {
    position:relative;
}

.max-w-25 {
    max-width: 25px;
}

.max-w-30 {
    max-width: 30px;
}

.max-w-50 {
    max-width: 50px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-150 {
    max-width: 150px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-250 {
    max-width: 250px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-670 {
    max-width: 670px;
}

.max-w-700 {
    max-width: 700px;
}

.max-w-950 {
    max-width: 950px;
}

.max-w-960 {
    max-width: 960px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.color-white {
    color: white;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-blue {
    border: 1px solid blue;
}

.border-brown {
    border: 1px solid brown;
}

.center {
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.m-auto {
    margin: 0 auto;
}

.w-auto {
    width: auto;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-130 {
    font-size: 130%
}

.font-size-inherit {
    font-size: inherit;
}

.font-weight-bold {
    font-weight: bold;
}

.font-style-italic {
    font-style: italic;
}

.red {
    color: red;
}

.green {
    color: green;
}

.list-style-square {
    list-style-type: square;
}

.list-style-circle {
    list-style-type: circle;
}

.list-style-decimal {
    list-style-type: decimal;
}

.bold {
    font-weight: var(--font-medium);
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top--10 {
    margin-top: -10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top--20 {
    margin-top: -20px !important;
}

.text-right {
    text-align: right;
}
