.content_ {
    display: flex;

}

.block-top {
    /*display: flex;*/
}

.block-top-main {
    color: white;
    background-image: url("/telerehab/images/main.jpg");
    background-repeat: no-repeat;
    min-height: 709px;
}

.block-top-organizations {
    color: white;
    background-image: url("/telerehab/images/med-organizations.png");
    background-repeat: no-repeat;
    background-position: top 0px right 20%;
    min-height: 709px;
    margin-top: -62px;
}

.block-top-patients {
    color: white;
    background-image: url("/telerehab/images/patient.png");
    background-repeat: no-repeat;
    background-position: top 0px right 0%;
    min-height: 562px;
    margin-top: -85px;
}

.block-top-covid {
    color: white;
    background-image: url("/telerehab/images/covid-rehab/covid-bg-1.png");
    background-repeat: no-repeat;
    /*background-position: top 0px right 0%;*/
    width: 100%;
    min-height: 562px;
    margin-top: -60px;
}

.block-top-kids {
    color: white;
    background-image: url("/telerehab/images/kids-rehab/bg-1.png");
    background-repeat: no-repeat;
    /*background-position: top 0px right 0%;*/
    width: 100%;
    min-height: 562px;
    margin-top: -60px;
}

.block-top-onko {
    color: white;
    background-image: url("/telerehab/images/onko-rehab/bg-1.png");
    background-repeat: no-repeat;
    /*background-position: top 0px right 0%;*/
    width: 100%;
    min-height: 562px;
    margin-top: -60px;
}

.info-central {
    color: white;
    background-image: url("/telerehab/images/covid-rehab/covid-bg-2.jpg");
    background-repeat: no-repeat;
    /*background-position: top 0px right 0%;*/
    width: 100%;
    min-height: 562px;
    margin-top: -60px;
}

.info-central .content-default > div {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    padding-left: 100px;
    padding-right: 100px;
}

.info-central .content-default > div > h2 {
    color: white;
    margin-top: 10px;
}

.info-central .content-default > div > ul {
    margin-bottom: 50px;
}

.info-central .content-default > div > p {
    margin-bottom: 100px;
}

.info-central .content-default > div > p > span {
    display: block;
    padding-left: 390px
    /*margin-right: 10px;*/
    margin-top: -5px;
}

.blank-kids {
    min-height: 100px;
}



.info-central-kids {
    color: white;
    background-image: url("/telerehab/images/kids-rehab/bg-2.png");
    background-repeat: no-repeat;
    /*background-position: top 0px right 0%;*/
    width: 100%;
    min-height: 562px;
    margin-top: -60px;
}

.info-central-kids .content-default > div {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    padding-left: 100px;
    padding-right: 100px;
}

.info-central-kids .content-default > div > h2 {
    color: white;
    margin-top: 10px;
}

.info-central-kids .content-default > div > ul {
    margin-bottom: 50px;
    width: 75%;
}

.info-central-kids .content-default > div > p {
    margin-bottom: 100px;
}

.info-central-kids .content-default > div > p > span {
    display: block;
    padding-left: 390px
    /*margin-right: 10px;*/
    margin-top: -5px;
}



.info-start {
    display: flex;
}

.info-start .content {
    flex-direction: column;
}

.info-start .content > h2 {
    text-align: center;
    margin: 40px 0 10px;
}

.info-start .content > div {
    display: flex;
}

.info-start .content > div > div > p {
    margin-left: 30px;
}

.info-start .content > p {
    text-align: center;
    /*margin: 50px 0 30px;*/
}

/**/

.info-end .content > h2 {
    text-align: center;
    margin: 50px 0 30px;
}

.info-end .content > div {
    justify-content: space-around;
}

.info-end .content > div > div {
    flex-basis: 33%;
    align-items: center;
    padding-left: 70px;
    margin-bottom: 40px;
}

.info-end .content > div > div > img {
    padding: 7px;
}

.info-end .content > div > div > p {
    padding: 7px;
    margin-top: 0px;
    font-size: 115%;
    line-height: 125%;
    font-weight: bold;
}

.block-top-covid .content > h1 {
    color: white;
    font-size: 210%;
    /*margin-top: -180px;*/
    margin-left: 35px;
    margin-bottom: 30px;
    padding-top: 100px;
}

.block-top-covid .content > div {
    margin-top: -40px;
}

.block-top-covid .content > div > p {
    max-width: 50%;
    margin-left: 50px;
}

.block-top-covid > p:nth-child(2) {
    /*margin-top: -20px;*/
    /*border: 1px solid red;*/
}



.block-top-kids .content > h1 {
    color: white;
    font-size: 210%;
    /*margin-top: -180px;*/
    margin-left: 35px;
    margin-bottom: 30px;
    padding-top: 100px;
}

.block-top-kids .content > div {
    margin-top: -40px;
}

.block-top-kids .content > div > p {
    max-width: 50%;
    margin-left: 50px;
}

.block-top-kids > p:nth-child(2) {
    /*margin-top: -20px;*/
    /*border: 1px solid red;*/
}



.block-top-onko .content > h1 {
    color: white;
    font-size: 210%;
    /*margin-top: -180px;*/
    margin-left: 35px;
    margin-bottom: 30px;
    padding-top: 100px;
}

.block-top-onko .content > div {
    margin-top: -40px;
}

.block-top-onko .content > div > p {
    max-width: 50%;
    margin-left: 50px;
}

.block-top-onko > p:nth-child(2) {
    /*margin-top: -20px;*/
    /*border: 1px solid red;*/
}



.btn-save-covid {
    width: 235px;
    height: 60px;
    background-color: #ffffff;
    color: var(--color-2);
    border-radius: 40px;
    /* border-color: white; */
    outline: none;
    border: none;
    font-weight: 500;
    margin-top: 37px;
    font-size: 25px;
    margin-bottom: 15px;
}



/* ******* */

.block-top-patients > p {
    max-width: 50%;
    /*color: red;*/
}

.block-top-patients > p:nth-child(1) {
    margin-top: 30px;
}

.block-top-rehab > p:nth-child(1) {
    margin-top: 84px;
}

.block-top-courses {
    display: flex;
    align-items: end;
    color: var(--color-1);
    background-image: url("/telerehab/images/doctor.png");
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    background-size: contain;
    min-height: 562px;
}

.block-top-rehab {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: -82px;
    color: white;
    background-image: url("/telerehab/images/doctor-2.png");
    background-repeat: no-repeat;
    background-position: top 0px right 0px;
    min-height: 562px;
    max-height: 562px;
}

.block-top > div > h1 {
    font-size: 210%;
    margin-top: -180px;
    margin-left: 50px;
    color: white;
}

.block-top > div > p {
    margin-top: 0px;
    margin-left: 60px;
    width: 60%;
    line-height: 34px;
}

.block-top > div > p:nth-child(2) {
    margin-top: 20px;
}

.block-top > div > p:nth-child(3) {
    margin-top: 20px;
}

.block-top-rehab a {
    color: white;
    font-size: inherit;
    font-style: italic;
    text-decoration: underline;
    /*font-weight: bold;*/
}

.block-banner > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-banner > div > h1 {
    font-size: 200%;
    margin-top: -165px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--color-font);
}

.block-banner .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /*margin: 0 auto;*/
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--color-1);
    cursor: pointer;
}

.block-banner .circle > div {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    color: white;
    font-weight: bold;
    font-size: 200%;
}

.block-banner .circle > div  > i {
    font-size: 32px;
    color: white;
}

.block-banner-content {

}

.block-banner-content > h2 {
    text-align: center;
    color: var(--color-1);
    margin-top: 60px;
    margin-bottom: 40px;
}

.block-banner-content > div {
    margin-bottom: 60px;
}

.circle-arrow-left {
    margin-left: 30px;
}

.circle-arrow-right {
    margin-right: 30px;
}

.block-banner-p {
    color: var(--color-1);
    font-weight: bold;
    font-size: 170%;
    line-height: 28px;
}

.header-div {
    display: flex;
    justify-content: start;
}

.header-div-1 {
    display: flex;
    flex-basis: 25%;
}

.header-div-2 {
    display: flex;
    flex-basis: 63%;
}

.header-div-3 {
    display: flex;
    justify-content: start;
    /*flex-basis: 10%;*/
}

.header-div-3 > div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#fa-phone {
    color: var(--color-1);
    font-size: 28px;
    cursor: pointer;
    /*margin-left: 10px;*/
}

#fa-envelope {
    color: var(--color-1);
    font-size: 32px;
    margin: 10px;
    cursor: pointer;
}

.block-center .content {
    color: white;
    background-image: url("/telerehab/images/form-gradient.png");
    background-repeat: no-repeat;
    min-height: 709px;
    margin-top: -120px;
}

#detail {
    margin-top: 10px;
}

.block-center-content-div-1 {
    flex-basis: 40%;
    margin-top: -50px;
}

.block-center-content-div-2 {
    flex-basis: 38%;
    margin-top: 220px;
}

.block-center-content-div-3 {
    margin-top: 220px;
    flex-basis: 32%;
}

.block-center-content-div-2 > h2 {
    color: white;
    font-size: 200%;
    margin-top: 20px;
}

.block-center-content-div-2 > p {
    margin-right: 100px;
}

.block-center-content-div-3 form {
    display: flex;
    flex-direction: column;
}

.block-center-content-div-3 form > input,
.block-center-content-div-3 form > button {
    margin-right: 30px;
}

.block-ask-question {
    /*margin-bottom: 50px;*/
}

.block-contract {
    margin-top: 22px;
}

.block-center-content-div-3 form > input {
    margin-top: 12px;
    height: 50px;
    font-size: 150%;
    border-radius: 1px;
}

.block-center-content-div-3 form > input, select {
    border: none;
    /*border: 2px solid var(--color-1);*/
}

select {
    padding-left: 25px;
    color: #666666;
    font-size: 130%;
    margin-top: 12px;
    /*border: none;*/
    height: 50px;
    margin-right: 30px;
    /*opacity: .7;*/
    /*width: 97%;*/
}

/*select:required:invalid {*/
/*color: #666;*/
/*}*/
/*option[value=""][disabled] {*/
/*display: none;*/
/*}*/

.form-btn {
    height: 50px;
    font-size: 150%;
    background-color: var(--color-1);
    width: 62%;
    color: white;
    margin: 0 auto;
    margin-top: 65px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

.btn-covid {
    height: 30px;
    /*font-size: 100%;*/
    background-color: var(--color-2);
    width: 70%;
    color: var(--color-1);
    /*margin: 0 auto;*/
    right: 0px;
    bottom: -30px;
    border-radius: 10px;
    border: none;
    /*font-weight: bold;*/
    font-style: italic;
    cursor: pointer;
}

.block-our-advantages .content > h2 {
    text-align: center;
    color: var(--color-1);
    font-size: 200%;
    margin: 60px 55px;
}

.block-our-advantages .content > div {
    justify-content: space-around;
    margin-bottom: 80px;
}

.content-flex > p {
    color: var(--color-1);
    font-size: 150%;
    font-weight: bold;
    line-height: 30px;
}

.certificate-flex {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 32px;
}

.certificate {
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
    flex-basis: 12%;
}

.certificate > img {
    max-width: 87px;
}

.certificate-text {
    display: flex;
    flex-basis: 87%;
    padding-left: -100px;

}

.certificate-text > p {
    /*margin-left: 70px;*/
    margin-top: 0px;
    margin-right: 70px;
    font-weight: bold;
    /*align-items: center;*/
}

.certificate-text > p > span {
    color: var(--color-1);
    font-size: inherit;
}


.block-footer {
    display: flex;
}

.block-footer .content {
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-1);
    color: white;
}

.block-footer .content > div > img {
    /*max-width: 250px;*/
    margin: 20px 0 20px;

}

.footer-block-left {
    display: flex;
    flex-direction: column;
    font-size: 150%;
    /*font-weight: var(--font-medium);*/
}

.footer-block-left > span:nth-child(1) {
    font-size: 110%;
    font-weight: var(--font-medium);
}

.footer-block-left > span:nth-child(2) {
    font-size: 90%;
    display: inline-block;
    /*margin-top: 15px;*/
    /*font-weight: var(--font-medium);*/
}

.footer-block-left > span:nth-child(3) {
    font-size: 90%;
    display: inline-block;
    margin-top: 0px;
    /*font-weight: var(--font-medium);*/
}











.absolute {
    position:absolute;
}

.relative {
    position:relative;
}

.max-w-25 {
    max-width: 25px;
}

.max-w-30 {
    max-width: 30px;
}

.max-w-50 {
    max-width: 50px;
}

.max-w-75 {
    max-width: 75px;
}

.max-h-75 {
    max-height: 75px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-150 {
    max-width: 115px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-220 {
    max-width: 220px;
}

.max-w-250 {
    max-width: 250px;
}

.max-w-270 {
    max-width: 270px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-670 {
    max-width: 670px;
}

.max-w-700 {
    max-width: 700px;
}

.max-w-800 {
    max-width: 800px;
}

.max-w-900 {
    max-width: 900px;
}

.max-w-950 {
    max-width: 950px;
}

.max-w-960 {
    max-width: 960px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.color-white {
    color: white;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-blue {
    border: 1px solid blue;
}

.border-brown {
    border: 1px solid brown;
}

.border-white {
    border: 1px solid white;
}

.center {
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.m-auto {
    margin: 0 auto;
}

.w-auto {
    width: auto;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-130 {
    font-size: 130%
}

.font-size-inherit {
    font-size: inherit;
}

.font-weight-bold {
    font-weight: bold;
}

.font-style-italic {
    font-style: italic;
}

.red {
    color: red;
}

.green {
    color: green;
}

.list-style-square {
    list-style-type: square;
}

.list-style-circle {
    list-style-type: circle;
}

.list-style-decimal {
    list-style-type: decimal;
}

.bold {
    font-weight: var(--font-medium);
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top--10 {
    margin-top: -10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top--20 {
    margin-top: -20px !important;
}

.text-right {
    text-align: right;
    cursor: pointer;
}
