:root {
    --color-white: #ffffff;
    --color-blk: #000000;
    --color-1: #1d6676;
    --color-2: #64d1c2;
    --color-3: #b6b6b6;
    --color-font: #0c5d70;
    --color-rgb: 13, 92, 113;
    --color-orange: #eb9316;
    --content: 76%;
    --margin-center: 0 auto;

    --font-family: 'Gotham Pro';
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 900;

    --bg-light: #e1f6f5;

    --sizeindex: calc(1vw + 1vh);
    --lineheight-title: calc(var(--sizeindex) * 1.618);
    /*--font-size-normal: calc(var(--sizeindex) * .6);*/
    --font-size-normal: 16px;

    --lineheight-small: calc(var(--sizeindex) * .9);
    /*--lineheight-normal: calc(var(--sizeindex) * .9);*/
    --lineheight-normal: 22px;
    --lineheight-medium: calc(var(--sizeindex) * 1.2);
    --lineheight-bigger: calc(var(--sizeindex) * 1.3);
    --lineheight-large: calc(var(--sizeindex) * 2.0);
}

::placeholder {
    color: #2f80ec;
}

@charset "utf-8";

* {
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
}

a {
    text-decoration: none;
    color: var(--color-1);
    align-items: center;
    cursor: pointer;
}

p {
    margin-top: 20px;
    line-height: 22px;
    /*line-height: calc(var(--sizeindex) * 1.2);*/
}

img {
    /*margin: 20px 0 5px;*/
}

.icon-doctorentry, .icon-exit {
    margin: 5px 0 5px;
}

ul > li {
    /*text-decoration: none;*/
    list-style-type: none;
}

ul.list-style-square > li {
    list-style-type: square;
    margin-left: 30px;
    line-height: 22px;
}

ol > li {
    margin-left: 30px;
    line-height: 22px;
}

.wrapper {
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 100%;
    overflow: hidden;
}

.content {
    /*border-left: 1px dotted saddlebrown;*/
    /*border-right: 1px dotted saddlebrown;*/
    /*border-bottom: 1px dotted saddlebrown;*/

    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1920px;
}

.logo {
    border: 1px solid red;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-basis: 25%;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.logo > div {
    justify-content: start;
    align-items: start;
}

.logo > div > img {
    max-width: 370px;
    /*justify-content: start;*/
    /*align-content: start;*/
    /*align-items: start;*/
    /*flex-basis: 50%;*/
    object-fit: fill;
    width: 100%;
    height: 100%;
    /*text-align: left;*/
    /*margin-left: 0;*/
}

#nav-ul > li > a {
    /*font-size: 26px;*/
    font-size: 150%;
    font-weight: bold;
    /*font-size: calc(var(--sizeindex) * .7);*/
}

#nav-ul > li > a > span,
#nav-ul-mobile > li > a > span {
    margin-left: 5px;
}

.nav {
    /*flex-basis: 50%;*/
    /*font-size: 16px;*/
    font-size: 110%;
    /*line-height: 1.2;*/
    font-weight: 500;
    color: var(--color-font);
    /*flex-basis: 30%;*/
}

.nav > ul {
    /*justify-content: end;*/
}

.nav > ul > li {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    /*padding: 2px 7px 2px 7px;*/
}

#nav-icons {
    margin-left: 100px;
    /*flex-basis: 20%;*/
}

#nav-icons > div > div {
    margin-right: 20px;
}

.inner {
    flex: 1 1 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100px;
}

/*.header:before {*/
    /*content: '';*/
    /*!*position: absolute;*!*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #0d5c71;*/
/*}*/

.padding {
    padding: 25px;
}

.banner {
    display: flex;
    flex-direction: row;
    background-color: var(--color-2);
}

.banner .content {

}

.banner-image {
    background-image: url('/nephrocenter/images/kidney.png'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-position: top -77px right -320px;
    min-height: 550px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: baseline;
    flex-basis: 49%;
}

.banner-text-title {
    font-family: 'Gotham Pro';
    /*font-size: calc(var(--sizeindex) * 1.5);*/
    /*line-height: var(--lineheight-title);*/
    font-weight: 500;
    color: #ffffff;
}

.banner-text-content {
    /*font-size: 22px;*/
    /*line-height: var(--lineheight-normal);*/
    font-weight: 400;
    color: #ffffff;
    margin-top: -20px;
}

.banner-text-button {
    font-family: 'Gotham Pro';
    width: 198px;
    height: 48px;
    background-color: #ffffff;
    color: var(--color-2);
    border-radius: 24px;
    border-color: white;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}

.banner-text-button:hover {
    cursor: pointer;
}

.banner-picture {
    display: flex;
    justify-content: end;
    flex-basis: 51%;
}

.banner-picture > img {
    /*max-height: 550px;*/
}

.navigation {
    display: flex;
}

.navigation > p {
    color: orange;
}

.top {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.top-item {
    display: flex;
}

.top-item > div {
    flex-basis: 50%;
}

.service {
    /*display: flex;*/
    flex-direction: column;
    background-color: var(--bg-light); /*#02B7B2;*/
}

.service-item {
    display: flex;
}

.service-item > div {
    flex-basis: 50%;
    /*border: 1px solid #0a58ca;*/
}

.service-item-list {
    display: flex;
    flex-direction: column;
}

.service-item-list > div {
    display: flex;
}

.service-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    background-color: var(--color-2);
    color: white;
    text-align: center;
    margin: 10px;
}

.text-link {
    color: var(--color-2);
}


.title-blk {

    /*font-size: 45.4px;*/
    /*line-height: 1.2;*/
    font-weight: 500;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #030303;
}

h1 {
    /*font-size: 42px;*/
    font-size: calc(var(--sizeindex) * 1.7);
    padding: 15px 0 15px 10px;
}

h2 {
    /*font-size: 28px;*/
    font-size: calc(var(--sizeindex) * 1.1);
    /*padding: 10px 0 10px 2px;*/
}

h3 {
    font-size: calc(var(--sizeindex) * 1.1);
    /*padding: 7px 0 7px 2px;*/
}

h4 {
    font-size: calc(var(--sizeindex) * 1.1);
    /*padding: 3px;*/
}

h4 {
    font-size: calc(var(--sizeindex) * 1.0);
    /*padding: 3px;*/
}


.title-alt {
    /*font-size: 28.2px;*/
    /*line-height: 1.2;*/
    /*font-weight: var(--font-medium);*/
    /*color: var(--color-2);*/
}

.title-alt2 {
    /*font-size: 28.2px;*/
    /*line-height: 1.2;*/
    /*font-weight: 500;*/
    /*color: #000000;*/
}

.font-normal {
    /*line-height: var(--lineheight-normal);*/
}

.font-medium {
    font-weight: var(--font-medium);
}

.font-semibold {
    /*line-height: var(--lineheight-normal);*/
    font-weight: var(--font-semibold);
}

.font-bold {
    /*line-height: var(--lineheight-normal);*/
    font-weight: var(--font-bold);
}

.text-phone {
    /*font-size: 18px;*/
    /*line-height: var(--lineheight-medium);*/
    font-weight: var(--font-medium);
    color: var(--color-2);
}

.text-contact {
    /*font-family: 'Gotham Pro';*/
    /*font-size: 14px;*/
    /*line-height: 20px;*/
    font-weight: 500;
    color: #000000;
}

.consultation-specialist {
    width: 836px;
    height: 86px;
    background-color: var(--color-2);
    border-color: var(--color-2);
    border-radius: 43px;
    outline: none;
    /*border: 0px solid #005a90;*/
    margin-top: 88px;
    margin-bottom: 113px;
    /*margin-top: 51px;*/
    cursor: pointer;
}

.consultation-specialist:hover {
    border: 1px solid #005a90;
}

.consultation-specialist:active {
    border: 2px solid #005a90;
    /*background-color: #005a90;*/
}

.info-flex {
    display: flex;
}

.info-flex-alt {
    display: flex;
}

.info-flex-alt > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-flex > div {
    flex-basis: 50%;
}

.consultation {

}

#support-mobile {
    display: none;
}

#support-title {
    margin-top: 100px;
}

#support-flex {
    margin: 40px 0 50px;
}

.support-flex {
    display: flex;
    align-items: center;
}

.support-flex > h2 {
    margin: 18px 0 18px;
}

.support-flex > div {
    flex-basis: 25%;
    align-items: center;
    margin-right: 5px;
}

.support-flex > div > img {
    margin: auto 0 30px;
}

.menu-out {
    /*font-size: calc(var(--sizeindex) * .55);*/
}

.menu-left {
    flex-basis: 19%;
}

.content-detail {
    display: flex;
    flex-direction: column;
    flex-basis: 81%;
}

.content-detail > h1,
.menu-left > ul {
    margin-top: 15px;
}

.content-detail-inner {
    padding: 6px;
}

.content-detail-inner > h2 {
    margin-top: 20px;
}

.content-detail-prevention {
    /*padding: 6px;*/
}

.content-detail-prevention-row {
    display: flex;
}

.content-detail-prevention-row > div {
    margin: 20px 15px 20px 15px;
    padding: 0 17px 30px 29px;

    box-shadow: -1px 0px 89px 1px rgba(232,245,250,1);
    -webkit-box-shadow: -1px 0px 89px 1px rgba(232,245,250,1);
    -moz-box-shadow: -1px 0px 89px 1px rgba(232,245,250,1);
}

.content-detail-prevention-row > div > h2 {
    margin-top: 40px;
}

#menu-left-mobile {
    display: none;
}

.menu-left > ul {
    /*font-family: 'Gotham Pro';*/
    /*font-size: 14px;*/
    /*line-height: 16px;*/
    /*line-height: var(--lineheight-small);*/
    font-weight: var(--font-medium);
    color: #029fb0;
    padding-right: 12%;
    padding-top: 2%;
}

.menu-left > ul > li {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-3);
}

.picture {
    object-fit: cover;
    width: 100%;
    height: 100%;

    margin: 30px 0 5px;

    /*height: auto;*/
    /*width: 100%;*/
}

.header__burger {
    display: none;
}

.header__burger.active:before {

}

.header__burger.active:after {

}

.header-logo__menu {
    display: none;
    margin-top: 80px;
    /*font-family: 'Gotham Pro';*/
    /*font-size: 14px;*/
    /*line-height: 16px;*/
    font-weight: 500;
    /*color: red;*/
    /*color: #029fb0;*/
    z-index: 99;
}

.content-logo__burger {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-flex-mobile {
    display: none;
}

.footer {
    background-color: var(--bg-light);
}

.footer > div {
    /*border: 1px solid red;*/
    padding-bottom: 20px;
}

.footer-flex {
    /*border: 1px solid sandybrown;*/
    display: flex;
    align-items: start;
    margin-top: 50px;
}

#footer-flex > div > p,
#footer-copyright > div > p
{
    font-size: 16px;
    margin-top: 2px;
}

/*.footer-flex > div > p {*/
/*line-height: calc(var(--sizeindex) * 1.2);*/
/*}*/

#contacts {
    /*border: 1px solid blue;*/
    /*height: 100%;*/
}

#footer-phones {
    /*border: 1px solid green;*/
    margin-top: 10px;
    /*padding: 1px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*!*justify-content: end;*!*/
    /*align-items: start;*/
}

#footer-phones > p {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    /*justify-content: end;*/
    align-items: start;
    font-weight: 700;
    line-height: 2px;
}

#footer-copyright {
    /*border: 1px solid red;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

#footer-copyright > div {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
}

.icon-skype, .icon-telegram {
    margin-top: 9px;
    max-width: 27px;
    margin-right: 20px;
}

#footer-copyright-blocksecond {
    display: flex;
    align-items: center;
}

#contacts > h3 {
    font-size: 20px;
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.color-3 {
    color: var(--color-3);
}

/* Position child elements relative to this element */
.aspect-ratio-box {
    position: relative;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 0;
    right: 12vw;
    padding: 7px;
    cursor: pointer;
    /*height: 100%;*/
    /*border: 1px solid red;*/
}

.close .fa-close {
    font-size: 40px;
    /*border: 1px solid red;*/
}

.active {
    color: var(--color-1);
}

.active-alt {
    color: var(--color-blk);
}

.gradient {
    min-height: 75px;
    background-image: linear-gradient(#ebf8f9, #fdffff);
}

.facts > p:nth-child(even) {
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--color-3);
}

.facts > p:nth-child(1) {
    margin-top: 0;
}

.facts > p > span {
    font-size: inherit;
    font-weight: bold;
}





.burger-relative {
    background: dodgerblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 350px;
}

.burger {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
    cursor: pointer;
    z-index: 100;
}

.burger:before,
.burger:after,
.burger div {
    background: #666666;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}
.burger:hover:before {
    /*transform: translateY(12px) rotate(135deg);*/
}
.burger:hover:after {
    /*transform: translateY(-12px) rotate(-135deg);*/
}
.burger:hover div {
    transform: scale(0);
}
