.clinic/
node_modules/
script.sql
.idea/
server/conf.js
server/route.js
server/routes.js
static/favicon.ico
static/img/logo.png
package-lock.json
html/
controllers/
services/
server/storage/upload/


