<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Почки и их функции</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Почки и их функции">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/nephrocenter/css/normalize.css">
    <link rel="stylesheet" href="/nephrocenter/css/flex.css">
    <link rel="stylesheet" href="/nephrocenter/css/style.css">
    <link rel="stylesheet" href="/nephrocenter/css/fonts.css">
    <link rel="stylesheet" href="/nephrocenter/css/custom.css">
    <link rel="stylesheet" href="/nephrocenter/css/banner.css">
    <link rel="stylesheet" href="/nephrocenter/css/media.css">

    <meta name="yandex" content="noindex, nofollow" />
</head>
<body>
<div class="wrapper">

    <div class="inner">
        <div class="header border-brown_">
            <div class="content border-brown_">
                <div id="logo" class="logo border-brown_">
                    <div class="logo-img border-brown_">
                        <img src="/nephrocenter/images/svg/logo.svg" alt="logo">
                    </div>

                    <div id="btn-burger" class="content-logo__burger">
                        <div class="header__burger">
                            <span></span>
                        </div>
                    </div>

                    <!-- Меню бургера -->
                    <div id="header-logo__menu" class="header-logo__menu relative">
                        <div id="btn-close" class="close">
                            <i class="fa-solid fa-close color-white"></i>
                        </div>

                        <ul class='flex'>
                            <li><a href="/pat/prevention">Профилактика</a></li>
                            <li><a href="#">Заболевания</a></li>
                            <li><a href="#">Диализ</a></li>
                            <li><a href="#">Трансплантация</a></li>
                            <li><a href="#">Диета и ЛФК</a></li>
                            <li><a href="#">Вход для врача</a></li>
                            <li><a href="#">Личный кабинет</a></li>
                        </ul>
                    </div>
                </div>

                <div id="nav" class="nav flex justify-center">
                    <ul id="nav-ul" class="flex">
                        <li><a href="/pat/prevention" class="active">Профилактика</a></li>
                        <li><a href="#">Заболевания</a></li>
                        <li><a href="#">Диализ</a></li>
                        <li><a href="#">Трансплантация</a></li>
                        <li><a href="#">Диета&nbsp;и&nbsp;ЛФК</a></li>
                    </ul>
                </div>

                <div id="nav-out" class="nav">
                    <ul id="nav-ul-out" class="flex justify-center">
                        <li><a href="#" class="flex"><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry" class="icon-doctorentry"> <span class="menu-out font-size-14">ВХОД<br> ДЛЯ&nbsp;ВРАЧА</span></a></li>
                        <li>
                            <a href="#" class="flex"><img src="/nephrocenter/images/exit.png" alt="exit" class="icon-exit">
                                <span class="menu-out center w-auto font-size-14">&nbsp;ЛИЧНЫЙ<br>&nbsp;&nbsp;КАБИНЕТ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="banner border-brown__">
            <div class="banner-image border-green__">
                <div class="content relative border-blue__">
                    <h1 class="border-red__">Все, что нужно знать <br>о заболеваниях почек</h1>

                    <p class="border-red__">
                        Врачи называют болезнь почек «тихим убийцей». Признаки поражения почек отмечаются у каждого десятого взрослого жителя Земли. Но многие, страдающие хронической болезнью почек, длительное время даже не подозревают, чтоони больны.

                    </p>

                    <button class="banner-text-button">Подробнее</button>

                    <div class="navigation border-red__ absolute__">
                        <div class="border-green__">
                            <div id="btn-banner-1" class="active-circle"></div>
                            <div id="btn-banner-2"></div>
                            <div id="btn-banner-3"></div>
                            <div id="btn-banner-4"></div>
                            <div id="btn-banner-5"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="top">
            <div class="content flex-col">
                <div class="top-item">
                    <div class="">
                        <h1 class="title-blk ">Что такое Хроническая<br> болезнь почек (ХБП)?</h1>
                    </div>

                    <div class=""> </div>
                </div>

                <div class="top-item top-image__ border-green__">
                    <div class="">
                        <img src="/nephrocenter/images/ellipse.png" alt="ellipse" class="">

                    </div>

                    <div class="flex flex-col text-20">
                        <div class="">
                            <p>
                                Хроническая Болезнь Почек или ХБП — термин, который используется для описания большинства нарушений почечной деятельности. Термин «хроническая» означает состояние, которое полностью не улучшается, но и не обязательно является тяжелым, так как к ХБП относятся и легкие нарушения почечной деятельности.

                            </p>

                            <p>
                                ХБП обычно диагностируется случайно при обследовании заболеваний не связанных с почками. Симптомы почечной недостаточности могут проявляться на ранних, средних и поздних стадиях заболевания.

                            </p>

                            <p>
                                Возникновение осложнений хронической болезни почек зависит напрямую от тяжести нарушения функций почек, что может быть обнаружено при помощи определения уровня СКФ и числовых показателей альбуминурии / протеинурии. При уменьшении СКФ осложнения встречаются чаще и они становятся более тяжелыми

                            </p>

                        </div>
                    </div>
                </div>

                <div class="top-item">
                    <div class="flex flex-col ">
                        <h2 class="title-alt">Что значит находиться<br> на стадии 1 или 2 ХБП?</h2>

                        <p class="top-item-div-p">
                            Это легкая форма почечной недостаточности с незначительным снижением почечной функции. Кровь или белок могут находиться в моче, что отражает уровень снижения почечной функции. Если Вы находитесь на одной из этих стадий, обратитесь к терапевту или нефрологу, они дадут Вам необходимые разъяснения как почечная недостаточность может повлиять на Вас и что Вам необходимо делать, чтобы позаботиться о Вашем здоровье.
                        </p>

                    </div>

                    <div class="flex flex-col">
                        <h2 class="title-alt">Что значит находиться<br> на стадии 3ХБП?</h2>

                        <p class="top-item-div-p">
                                Это значит, что функция Ваших почек умеренно снижена. Кровь или белок могут находиться в моче. Если Вы находитесь на данной стадии заболевания, Вам необходимо регулярное наблюдение за Вашей почечной функцией (анализ крови и мочи раз в полгода) у специалиста нефролога.
                        </p>
                    </div>
                </div>

                <div class="top-item">
                    <div class="flex flex-col">
                        <h2 class="title-alt">Что значит находиться<br>на стадии 4ХБП?</h2>

                        <p class="top-item-div-p">
                            Это легкая форма почечной недостаточности с незначительным снижением почечной функции. Кровь или белок могут находиться в моче, что отражает уровень снижения почечной функции. Если Вы находитесь на одной из этих стадий, обратитесь к терапевту или нефрологу, они дадут Вам необходимые разъяснения как почечная недостаточность может повлиять на Вас и что Вам необходимо делать, чтобы позаботиться о Вашем здоровье.

                        </p>

                    </div>

                    <div class="flex flex-col">
                        <h2 class="title-alt">Что значит находиться<br> на стадии 5ХБП?</h2>

                        <p class="top-item-div-p">
                            Это значит, что Ваши почки серьезно повреждены и ваша жизнь в опасности.   Если это происходит достаточно быстро, врач нефролог обсудит с Вами возможные варианты лечения, такие как диализ (гемодиализ /перитонеальный диализ), пересадка почки или поддерживающее лечение (без диализа).
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="service">
            <div class="content flex-col">
                <div class="service-item border-brown__">
                    <h1 class="title-blk">
                        Как воспользоваться
                        <br>сервисом Теленефроцентр?
                    </h1>
                </div>

                <div class="service-item">
                    <div>
                        <img src="/nephrocenter/images/tele-nephrocenter.png" alt="ellipse">
                    </div>

                    <div class="service-item-list">
                        <div class="flex">
                            <div class="flex-service-circle">
                                <div class="service-circle">1</div>
                            </div>

                            <p class="text-18">
                                Зайдите  на сайт <span class="font-size-inherit text-link">nephro-portal.ru</span>, зарегистрируйтесь и заведите личный кабинет-сюда можно будет загрузить  архив ваших медицинских документов, последнюю выписку, лабораторные исследования, задать интересующий Вас вопрос нефрологу.

                            </p>

                        </div>

                        <div class="flex">
                            <div class="flex-service-circle">
                                <div class="service-circle">2</div>
                            </div>

                                <p class="text-16">
                                    Заполните опросник о Вашем самочувствии.

                                </p>

                        </div>

                        <div class="flex">
                            <div class="flex-service-circle">
                                <div class="service-circle">3</div>
                            </div>

                            <div>
                                <p class="text-16">
                                    Внимательно изучите образовательные информационные материалы по заболеванию.

                                </p>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="flex-service-circle">
                                <div class="service-circle">4</div>
                            </div>

                            <div>
                                <p class="text-16">
                                    Получите рекомендации нефролога  по дальнейшей маршрутизации и плану обследования и лечения.

                                </p>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="flex-service-circle">
                                <div class="service-circle">5</div>
                            </div>

                            <div>
                                <p class="text-16">
                                    Если лечащий врач назначил вам регулярное ведение электронного дневника и календаря по приему лекарств – старайтесь внимательно следить за своим состоянием и сообщать об этом врачу. Это необходимо для того ,чтобы как можно  раньше выявить нежелательные побочные  явления лекарственной терапии или другие осложнения  и вовремя скорректировать план лечения.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-item">
                    <div>
                        <p class="">
                            Специализированная нефрологическая помощь особенно для пациентов 4-5 ХБП в РФ оказывается быстро и по ОМС, включает диагностику и лечение острых и хронических заболеваний почек, а также ведение пациентов с терминальной почечной недостаточностью, получающих различные варианты заместительной почечной терапии. Российская нефрологическая служба построена преимущественно по территориальному принципу. Диагностику и лечение хронических заболеваний почек, впервые выявленных и в период обострения, осуществляют нефрологи — амбулаторно и в условиях специализированных нефрологических отделений стационаров. 

                        </p>

                        <p class="">
                            При необходимости во «втором мнении« по вашему заболеванию или лечению, можно обратиться в Теленефроцентр консультативно — диагностического нефрологического отделения ГКБ N52 г.Москвыи отправить вопрос kdno2020@yandex.ru

                        </p>

                        <p class="">
                            Врачи-нефрологи ведут прием и диспансерное наблюдение пациентов с различными заболеваниями почек:

                        </p>

                        <ul class="list-style-circle">
                            <li>Гломерулонефритом и пиелонефритом;</li>
                            <li>Почечной недостаточностью любого происхождения;</li>
                            <li>Пациентов, получающих лечение гемодиализом и перитонеальным диализом;</li>
                            <li>Пациентов после пересадки почки;</li>
                            <li>Нефрологических пациентов с сахарным диабетом.</li>
                        </ul>
                    </div>

                    <div class="border-green__ center">
                        <img src="/nephrocenter/images/nephrohelp.png" alt="nephrohelp">
                    </div>
                </div>
            </div>
        </div>

        <div class="info">
            <div class="content flex-col">
                <div class="info-flex">
                    <div>
                        <h1 class="title-blk">Москвичам</h1>

                        <div class="">
                            Записаться на прием можно по телефонам
                            <br><b>8 (499) 196-22-48</b> и <b>8 (499) 196-18-84</b>
                            <br>при наличии направления на консультацию, российского паспорта, полиса ОМС.

                        </div>

                        <p class="">
                            Медицинская документация, необходимая для первичной консультации врача-нефролога КДНО:

                        </p>

                        <ul class="">
                            <li>Гломерулонефритом и пиелонефритом;</li>
                            <li>Почечной недостаточностью любого происхождения;</li>
                            <li>Пациентов, получающих лечение гемодиализом и перитонеальным диализом;</li>
                            <li>Пациентов после пересадки почки;</li>
                            <li>Нефрологических пациентов с сахарным диабетом.</li>
                        </ul>
                    </div>

                    <div>
                        <h1 class="title-blk">Иногородним</h1>

                            <p class="">
                                Иногородним гражданам для проведения диализа в Москве по полису ОМС нужно выслать в организационно-методический отдел по нефрологии nephro.omo52@yandex.ru копии следующих документов:

                            </p>

                            <ul class="">
                                <li>паспорт;</li>
                                <li>полис ОМС;</li>
                                <li>выписка из диализного центра, в котором пациент проходит гемодиализ;</li>
                                <li>направление на имя главного нефролога Москвы О.Н.Котенко форма 057у из поликлиники или медицинского центра, где наблюдается пациент, за подписью руководителя с отметкой «направляется для лечения программным гемодиализом в г.Москве».</li>
                            </ul>

                            <p class="">
                                Телефон ОМО по нефрологии <b>8 (499) 196-33-01</b>

                            </p>
                    </div>
                </div>

                <div class="info-flex">
                    <div>
                        <h1 class="title-blk">Платные услуги</h1>

                        <p class="">
                            Если пациент планирует получить услугу 
                            <br>на платной основе (например, не является
                            <br>гражданином России и не имеет полиса ОМС РФ),
                            <br>следует обратиться в отдел платных медицинских
                            <br>услуг <b>8 (499) 196-09-24</b> или по электронной почте <br><span class="font-size-inherit text-link">pmu52gkb@mail.ru</span>.

                        </p>
                    </div>

                    <div></div>
                </div>
            </div>
        </div>

        <div class="consultation">
            <div class="content">
                <button class="consultation-specialist">Записаться на консультацию к специалисту</button>

                <!--<div class="flex align-center">-->
                <!--<button class="consultation-specialist text-32">Записаться на консультацию к специалисту</button>-->

                <!--&lt;!&ndash;<div class="border-brown padding">&ndash;&gt;-->
                <!--&lt;!&ndash;<button class="consultation-specialist text-32">Записаться на консультацию к специалисту</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--</div>-->
            </div>
        </div>

        <div class="support">
            <div class="content flex-col">
                <div id="support-title" class="support-flex">
                    <h2 class="title-alt2">При поддержке:</h2>
                </div>

                <div id="support-flex" class="support-flex">
                    <div>
                        <img src="/nephrocenter/images/support1.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support2.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support3.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support4.png" alt="support">
                    </div>
                </div>

                <div id="support-mobile" class="support-flex">
                    <div class="">
                        <div>
                            <img src="/nephrocenter/images/support1.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support2.png" alt="support">
                        </div>
                    </div>

                    <div class="">
                        <div>
                            <img src="/nephrocenter/images/support3.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support4.png" alt="support">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer id="footer" class="footer">
        <div class="content flex-col border-brown_">
            <div id="footer-flex" class="footer-flex border-brown_">
                <div class="flex-basis-25">
                    <p>Здоровье почек</p>
                    <p>Болезни почек</p>
                    <p>Почки и беременность</p>
                    <p>Возрастные заболевания почек</p>
                </div>

                <div class="flex-basis-25">
                    <p>Осложнения хронической</p>
                    <p>болезни почек</p>
                    <p>Гемодиализ</p>
                    <p>Перитонеальный диализ </p>
                </div>

                <div class="flex-basis-25">
                    <p>Трансплантация почки</p>
                    <p>Диета и питание</p>
                    <p>ЛФК. Физическая активность</p>
                    <p>при болезнях почек</p>
                </div>

                <div id="contacts" class="flex-basis-25">
                    <h3>Контакты</h3>

                    <div id="footer-phones" class="text-phone">
                        <p>8 (499) 196-22-48</p>
                        <p>8 (499) 196-18-84</p>
                    </div>
                </div>
            </div>

            <div id="footer-copyright" class="footer-flex">
                <div class="flex-basis-75">
                    <p class="copyright">©&nbsp;2022,&nbsp;ТелеНефроЦентр. Все&nbsp;права&nbsp;защищены.</p>
                </div>

                <div id="footer-copyright-blocksecond" class="flex align-center flex-basis-25 border-green_">

                    <div>
                        <img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="icon-skype border-green_">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="icon-telegram border-green_">
                    </div>

                    <!--<img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="border-green">-->

                    <!--<img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="border-green">-->

                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/nephrocenter/js/common.js"></script>

<script>

</script>
</body>
</html>


