<!doctype html>
<html lang="en">

<head>
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
{% endblock %}

    <title>{{ title }}</title>

{% block css %}
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block js_top %}

{% endblock %}

</head>

{% block header %}
    <h1>A simple and flexible server platform for building web applications and services</h1>
{% endblock %}


{% block content %}

{% endblock %}

{% block js_bottom %}
    <script src="/js/common.js"></script>

    <!-- Yandex.Metrika counter -->
    <!-- /Yandex.Metrika counter -->
{% endblock %}

</body>
</html>

<!--"name"-->
<!--"honorific-prefix"-->
<!--"given-name"-->
<!--"additional-name"-->
<!--"family-name"-->
<!--"honorific-suffix"-->
<!--"nickname"-->
<!--"username"-->
<!--"new-password"-->
<!--"current-password"-->
<!--"one-time-code"-->
<!--"organization-title"-->
<!--"organization"-->
<!--"street-address"-->
<!--"address-line1"-->
<!--"address-line2"-->
<!--"address-line3"-->
<!--"address-level4"-->
<!--"address-level3"-->
<!--"address-level2"-->
<!--"address-level1"-->
<!--"country"-->
<!--"country-name"-->
<!--"postal-code"-->
<!--"cc-name"-->
<!--"cc-given-name"-->
<!--"cc-additional-name"-->
<!--"cc-family-name"-->
<!--"cc-number"-->
<!--"cc-exp"-->
<!--"cc-exp-month"-->
<!--"cc-exp-year"-->
<!--"cc-csc"-->
<!--"cc-type"-->
<!--"transaction-currency"-->
<!--"transaction-amount"-->
<!--"language"-->
<!--"bday"-->
<!--"bday-day"-->
<!--"bday-month"-->
<!--"bday-year"-->
<!--"sex"-->
<!--"url"-->
<!--"photo"-->