<!doctype html>
<html lang="ru">

<head>
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">

{% endblock %}

    <title>{{ title }}</title>

{% block css %}
    <link rel="icon" href="./img/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block js_top %}

{% endblock %}

</head>
        {% block header %}
            <p>Header block</p>
        {% endblock %}


        {% block content %}
            <p>Content block</p>
        {% endblock %}

{% block js_bottom %}
    <script src="/js/common.js"></script>

    <!-- Yandex.Metrika counter -->
    <!-- Code -->
    <!-- /Yandex.Metrika counter -->

{% endblock %}

</body>
</html>
