<html>
<head></head>
<body style__="background: darkslategray /*#1594b7*/">
<body>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="filefield"><br />
    <input id="test1" type="text" name="test1" value=""><br />
    <input id="test2" type="text" name="test2" value=""><br />
    <input id="btn-uploadfile" type="button" value="Upload">
</form>
</body>

<script>
    const logMapElements = ((value, key, map) => {
        console.log(map[key] + ' =  ' + value);
    })
    const btnUpload = document.getElementById('btn-uploadfile');

    if (btnUpload !== null) {
        btnUpload.addEventListener('click', (event) => {
            const formData = new FormData();
            const fileField = document.querySelector('input[type="file"]');
            const test1 = document.getElementById('test1');
            const test2 = document.getElementById('test2');
            formData.append('test1', test1.value);
            formData.append('test2', test2.value);
            formData.append('avatar', fileField.files[0]);
            fetch('/upload', {
                method: 'PUT',
                body: formData
            })
                .then(response => {
                    console.log('response:', response.status);
                    console.log('headers:', response.headers.get('Info-Params'));
                    const par = response.headers.get('Field-test1');
                    console.log({ par })
                    // const test1 = response.headers.get('Info-Params')['test1'];
                    // console.log(Object.keys(par))
                    // mapEls.forEach(logMapElements);

                    console.log('ok:', response.ok);
                    return response
                })
                .then(result => {
                    console.log(Object.keys(result));
                    console.log('Success:', result);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    }
</script>
</body>
</html>

