:root {
    --common: #0d5c71;
    --common-rgb: 13, 92, 113;
    --blue-rgb: 107, 179, 214;
    --orange: #eb9316;
    --color-555: #555555;
    --color-ccc: #cccccc;
    --color-666: #666666;
    --color-gray: #909090;
}

@charset "utf-8";

body {
    background-color: #f7faf5;  /*f3f8f0*/
    color: #1c513b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container  {
    margin: 15px;
}

.color-common{
    color: var(--common);
}

.error {
    color: red;
    font-size: smaller;
}

.red {
    color: red;
}

.green {
    color: green;
}
