<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Телереабилитация пациентов, переболевших COVID-19 с осложнениями</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Главная">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/telerehab/css/normalize.css">
    <link rel="stylesheet" href="/telerehab/css/flex.css">
    <link rel="stylesheet" href="/telerehab/css/style.css">
    <link rel="stylesheet" href="/telerehab/css/fonts.css">
    <link rel="stylesheet" href="/telerehab/css/custom.css">
    <link rel="stylesheet" href="/telerehab/css/video.css">
    <link rel="stylesheet" href="/telerehab/css/media.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <meta name="yandex" content="index, follow" />
</head>

<body>
<div class="wrapper">
    <div class="inner">
        <div id="header" class="header">
            <div class="content header-div border-red_">
                <div class="header-div-1 border-brown_">
                    <div id="logo" class="logo border-brown_">
                        <div class="logo-img border-brown_">
                            <img src="/telerehab/images/logo.png" alt="logo">
                        </div>

                        <div id="btn-burger" class="content-logo__burger">
                            <div class="header__burger">
                                <span></span>
                            </div>
                        </div>

                        <!-- Меню бургера -->
                        <div id="header-logo__menu" class="header-logo__menu relative">
                            <div id="btn-close" class="close">
                                <i class="fa-solid fa-close color-white"></i>
                            </div>

                            <ul class='flex'>
                                <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                                <li><a href="/medical-organizations">Медицинским организациям</a></li>
                                <li><a href="/patients">Пациентам</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="header-div-2 border-brown_">
                    <div id="nav" class="nav flex justify-center border-brown_">
                        <ul id="nav-ul" class="flex">
                            <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                            <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                            <li><a href="/patients">Пациентам</a></li>
                        </ul>
                    </div>
                </div>

                <div class="header-div-3 border-brown_">
                    <div>
                        <i id="fa-phone" class="fa-solid fa-phone border-brown_"></i>
                    </div>

                    <div>
                        <i id="fa-envelope" class="fa-solid fa-envelope border-brown_"></i>
                    </div>

                    <!--<div id="nav-icons" class="flex justify-start align-center border-blue_">-->
                    <!--<div class="flex align-center border-brown_">-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="max-w-30 border-green_">-->
                    <!--</div>-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="max-w-30 border-green_">-->
                    <!---->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="block-top-onko border-red_">
            <div class="content flex-col">
                <h1>Телереабилитация онкологических пациентов</h1>

                <div class="border-brown_">
                    <p>
                        Дистанционная реабилитация онкологических больных для облегчения их адаптации к новым условиям в процессе и после завершения противоракового лечения.

                    </p>

                    <p>
                        Сеансы телереабилитации можно сочетать с соответствующими занятиями ЛФК на территории медучреждения, подключая к ним пациентов в любой точке земного шара.

                    </p>

                    <p>
                        Для занятий достаточно любого устройства подключенного к интернету.

                    </p>
                </div>

            </div>

        </div>


        <div class="info-start">
            <div class="content">
                <h2>Действующий курс</h2>

                <p>
                    <b class="font-size-inherit">COVID REHAB. Сервис для реабилитации переболевших COVID-19 с различными осложнениями</b>

                </p>

                <div class="border-brown_">
                    <img class="border-green_" src="/telerehab/images/covid-rehab/logo-left.png" alt="фото">

                    <div class="border-green_">
                        <p>
                            Облачная платформа COVID REHAB создана командой ООО «АйПат» совместно с ООО «ТелеПат» и
                            «Национальным медицинским исследовательским центром реабилитации и курортологии» Минздрава
                            РФ (НМИЦ РК). Проект стартовал в конце мая 2020 года в связи с актуальностью реабилитации
                            переболевших COVID-19. В основу платформы положены временные методические рекомендации,
                            разработанные в НМИЦ РК.

                        </p>

                        <p>
                            Цель проекта - быстрое восстановление и минимизации риска развития осложнений на амбулаторном
                            этапе лечения после выписки из стационара.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-central border-brown_">
            <div class="content-default border-red_">
                <div class="border-white_">
                    <p>
                        <b>3500 + человек</b>
                        <span>прошли курс</span>
                    </p>

                    <p>
                        <b>1945 + занятий</b>
                        <span>проведено</span>
                    </p>
                </div>

                <div class="border-white_">
                    <h2>Программа НМИЦ РК включает:</h2>

                    <ul class="list-style-square">
                        <li>Дыхательная гимнастика и аэробные упражнения</li>
                        <li>Силовые тренеровки разной интенсивности</li>
                        <li>Диетотерапия</li>
                        <li>Обучение дренажной дыхательной технике</li>
                        <li>Нейропсихологическая подготовка: консультации, психологическая поддержка</li>
                    </ul>

                    <h2>Ресурсы для подключения:</h2>

                    <ul class="list-style-square">
                        <li>Подключение и настройка сервиса - 10 мин.</li>
                        <li>Обучение врачей и инструкторов - 4 часа (вебинар)</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="info-end">
            <div class="content flex-col">
                <h2>На платформе COVID REHAB работают:</h2>

                <div class="flex border-brown_">
                    <div class="flex border-green_">
                        <img class="max-w-100 border-red_" src="/telerehab/images/covid-rehab/logo-partner-1.png" alt="фото">

                        <p class="relative">
                            ГБУЗ "Самарская областная
                            <br>клиническая больница им.
                            <br>В.Д. Середавина", г. Самара

                            <button class="btn-covid absolute">Записаться</button>
                        </p>

                        <!--<button class="bnt-save-covid">Записаться</button>-->
                    </div>

                    <div class="flex border-green_">
                        <img class="max-w-75" src="/telerehab/images/covid-rehab/logo-partner-2.jpg" alt="фото">

                        <p class="relative">
                            Центр реабилитации и
                            <br>курортологии Минздрава
                            <br>РФ, г. Москва

                            <button class="btn-covid absolute">Записаться</button>
                        </p>
                    </div>

                    <div class="flex border-green_">
                        <img class="max-w-75" src="/telerehab/images/covid-rehab/logo-partner-3.png" alt="фото">

                        <p class="relative">
                            ГАУЗ "Областной Центр
                            <br>Медицинской
                            <br>реабилитации", г. Оренбург

                            <button class="btn-covid absolute">Записаться</button>
                        </p>
                    </div>
                </div>

                <div class="flex border-brown_">
                    <div class="flex border-green_">
                        <img class="max-w-100" src="/telerehab/images/covid-rehab/logo-partner-4.png" alt="фото">

                        <p>
                            КГБУЗ "Алтайский
                            <br>врачебно-физкультурный
                            <br>диспансер", г. Барнаул
                        </p>
                    </div>

                    <div class="flex border-green_">
                        <img class="max-w-75" src="/telerehab/images/covid-rehab/logo-partner-5.png" alt="фото">

                        <p>
                            БУ ХМАО-Югры, г. ХантыМансийск
                        </p>
                    </div>

                    <div class="flex border-green_">
                        <img class="max-w-75" src="/telerehab/images/covid-rehab/logo-partner-6.png" alt="фото">

                        <p>
                            МЦВЛ "Консилиум",
                            <br>Московская обл.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="block-center border-brown_">
            <div class="content border-green_">
                <!--<div class="border-brown">-->
                <div class="block-center-content-div-1">

                </div>

                <div class="block-center-content-div-2 border-brown_ relative">
                    <h2>
                        Приглашаем к сотрудничеству
                        <br>медицинские организации
                    </h2>

                    <p>
                        На нашей платформе вы можете проводить
                        дистанционную реабилитацию пациентов,
                        используя свой авторский курс.
                        <br>Подключитесь к платформе, выбрав один
                        из действующих видов телереабилитации
                        или предложите новый (новые).

                    </p>

                    <p id="detail" class="text-right">
                        <i class="font-size-inherit text-right">Подробнее…</i>
                    </p>

                    <div class="block-ask-question border-brown_">
                        <button class="form-btn btn-manipulate absolute">Задать вопрос</button>
                    </div>
                </div>

                <div class="block-center-content-div-3 relative">
                    <form action="">
                        <input type="text" placeholder="Организация">

                        <input type="text" placeholder="Контактное лицо">

                        <input type="text" placeholder="E-mail">

                        <select name="rehub" id="rehub">
                            <option value="none">Действующий вид телереабилитации</option>
                            <option value="recovered-covid">Переболевшим COVID-19 с осложнениями</option>
                            <option value="oncological-patients">Онкологическим пациентам</option>
                            <option value="children-neurotrauma">Детям после нейротравм</option>
                        </select>

                        <input type="text" placeholder="Предложить новый (новые) вид (ы)">

                    </form>

                    <div class="block-contract border-brown_">
                        <button class="form-btn btn-manipulate absolute">Заключить договор</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-our-advantages">
            <div class="content flex-col border-brown_">
                <div class="certificate-flex">
                    <div class="certificate border-brown_">
                        <img src="/telerehab/images/certificate.png" alt="фото">
                    </div>

                    <div class="certificate-text flex-col border-brown_">
                        <p>
                            COVID REHAB зарегистрирован как программа для ЭВМ под названием «СОVID REHAB. Сервис дистанционной
                            <br>реабилитации пациентов, перенесших COVID-19», <span class="">Свидетельство № 2020661187 от 18.09.2020 г.</span>
                        </p>

                        <p class="margin-top-20">
                            СОVID REHAB. Сервис дистанционной реабилитации пациентов, перенесших COVID -19» включен в Единый
                            <br>реестр российских программ для электронных вычислительных машин и баз данных, <span class="">реестровый № 8966.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="block-footer border-brown_">
        <div class="content">
            <div class="border-brown_">
                <div class="footer-block-left">
                    <span>ООО «АйПат»</span>
                    <span>+7 (499) 519-00-78</span>
                    <span>support@i-pat.online</span>
                </div>
            </div>
            <div class="border-brown_"><img src="/telerehab/images/iPAT.png" class="max-w-250" alt="logo"></div>
            <div class="border-brown_"><img src="/telerehab/images/sr_logo_white.png" class="max-w-150" alt="logo"></div>
            <div class="border-brown_"><img src="/telerehab/images/telepat_logo_white.png" class="max-w-220" alt="logo"></div>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/telerehab/js/common.js"></script>

<script>

</script>
</body>
</html>



