<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Telerehub</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Профилактика">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/telerehab/css/normalize.css">
    <link rel="stylesheet" href="/telerehab/css/flex.css">
    <link rel="stylesheet" href="/telerehab/css/style.css">
    <link rel="stylesheet" href="/telerehab/css/fonts.css">
    <link rel="stylesheet" href="/telerehab/css/custom.css">
    <link rel="stylesheet" href="/telerehab/css/video.css">
    <link rel="stylesheet" href="/telerehab/css/media.css">

    <meta name="yandex" content="index, follow" />
</head>

<body>
<div class="wrapper">
    <div class="inner">
        <div id="header" class="header">
            <div class="content border-brown">
                <div id="logo" class="logo border-brown_">
                    <div class="logo-img border-brown_">
                        <img src="https://telerehab.online/img/main/logo.png" alt="logo">
                    </div>

                    <div id="btn-burger" class="content-logo__burger">
                        <div class="header__burger">
                            <span></span>
                        </div>
                    </div>

                    <!-- Меню бургера -->
                    <div id="header-logo__menu" class="header-logo__menu relative">
                        <div id="btn-close" class="close">
                            <i class="fa-solid fa-close color-white"></i>
                        </div>

                        <ul class='flex'>
                            <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                            <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                            <li><a href="/patients">Пациентам</a></li>
                        </ul>
                    </div>
                </div>

                <div id="nav" class="nav flex justify-center border-brown_">
                    <ul id="nav-ul" class="flex">
                        <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                        <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                        <li><a href="/patients">Пациентам</a></li>
                    </ul>
                </div>

                <div id="nav-icons" class="flex justify-center align-center border-blue_">
                    <div class="flex align-center">
                        <div class="flex align-center border-green_">
                            <img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="max-w-30 border-green_">
                        </div>
                        <div class="flex align-center border-green_">
                            <img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="max-w-30 border-green_">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="block-top">
            <div class="flex flex-col content border-red">
                <h1 class="border-brown">TELEREHAB. Маркетплейс Реабилитационных Курсов</h1>

                <p class="border-brown">
                    Телереабилитация - это онлайн занятия с пациентом или группой пациентов, находящихся дома, проводимые инструктором лечебной физкультуры (ЛФК) под руководством врача-реабилитолога. Telerehab предоставляет возможность пациентам дистанционно пройти курс медицинской реабилитации в профильной медицинской организации, а медорганизациям – предложить пациентам такие курсы и привлечь новых пациентов. При этом инструктор следит за правильным выполнением упражнений, а врач дистанционно контролирует безопасность и эффективность реабилитации. Для занятий пациенту необходим только смартфон или компьютер, подключенный к интернет.
                </p>
            </div>
        </div>

        <div class="block-banner">
            <div class="flex flex-col content border-brown_">
                <h1>Действующие виды телереабилитации</h1>

                <div class="flex border-brown">
                    <div class="circle-arrow-left">
                        <div class="circle">
                            <div class="">
                                <i class='fas fa-chevron-left'></i>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <img src="/telerehab/images/banner.jpeg" class="block-banner-img max-w-400" alt="фото">
                        </div>

                        <p class="block-banner-p">
                            Переболевим COVID-19
                            <br>с осложнениями
                        </p>
                    </div>

                    <div>
                        <div>
                            <img src="/telerehab/images/banner2.jpg" class="block-banner-img max-w-400" alt="фото">
                        </div>

                        <p class="block-banner-p">
                            Онкологическим
                            <br>пациентам
                        </p>
                    </div>

                    <div>
                        <div>
                            <img src="/telerehab/images/banner3.jpeg" class="block-banner-img max-w-400" alt="фото">
                        </div>

                        <p class="block-banner-p">
                            Детям после
                            <br>нейротравм
                        </p>
                    </div>

                    <div class="circle-arrow-right">
                        <div class="circle">
                            <div>
                                <i class='fas fa-chevron-right'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-center">
            <div class="content border-brown">
                <p>
                    <i class='fas fa-chevron-left'></i>
                    <i class='fas fa-chevron-left' style='font-size:24px'></i>
                    <i class='fas fa-chevron-left' style='font-size:36px'></i>
                    <i class='fas fa-chevron-left' style='font-size:48px;color:red'></i>
                </p>
            </div>
        </div>

        <div class="block-our-advantages">
            <div class="content border-brown">
                <p>block-bottom</p>
            </div>
        </div>
    </div>

    <footer id="footer__" class="block-footer_">
        <div class="content flex-col border-brown">
            <p>footer</p>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/telerehab/js/common.js"></script>

<script>

</script>
</body>
</html>



