<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Профилактика</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Профилактика">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/nephrocenter/css/normalize.css">
    <link rel="stylesheet" href="/nephrocenter/css/flex.css">
    <link rel="stylesheet" href="/nephrocenter/css/style.css">
    <link rel="stylesheet" href="/nephrocenter/css/fonts.css">
    <link rel="stylesheet" href="/nephrocenter/css/custom.css">
    <link rel="stylesheet" href="/nephrocenter/css/video.css">
    <link rel="stylesheet" href="/nephrocenter/css/media.css">

    <meta name="yandex" content="noindex, nofollow" />
</head>

<body>
<div class="wrapper">

    <div class="inner">
        <div id="header" class="header">
            <div class="content border-brown">
                <div id="logo" class="logo border-brown_">
                    <div class="logo-img border-brown_">
                        <img src="/nephrocenter/images/svg/logo.svg" alt="logo">
                    </div>

                    <div id="btn-burger" class="content-logo__burger">
                        <div class="header__burger">
                            <span></span>
                        </div>
                    </div>

                    <!-- Меню бургера -->
                    <div id="header-logo__menu" class="header-logo__menu relative">
                        <div id="btn-close" class="close">
                            <i class="fa-solid fa-close color-white"></i>
                        </div>

                        <ul class='flex'>
                            <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                            <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                            <li><a href="/patients">Пациентам</a></li>
                        </ul>
                    </div>
                </div>

                <div id="nav" class="nav flex justify-center">
                    <ul id="nav-ul" class="flex">
                        <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                        <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                        <li><a href="/patients">Пациентам</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="block-top">
            <div class="content border-brown">
                <p>block-top</p>
            </div>
        </div>

        <div class="block-center border-brown">
            <div class="content">
                <p>block-center</p>
            </div>
        </div>

        <div class="block-bottom">
            <div class="content border-brown">
                <p>block-bottom</p>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="content flex-col border-brown">
            <p>footer</p>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/nephrocenter/js/common.js"></script>

<script>

</script>
</body>
</html>



