<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Главная">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/telerehab/css/normalize.css">
    <link rel="stylesheet" href="/telerehab/css/flex.css">
    <link rel="stylesheet" href="/telerehab/css/style.css">
    <link rel="stylesheet" href="/telerehab/css/fonts.css">
    <link rel="stylesheet" href="/telerehab/css/custom.css">
    <link rel="stylesheet" href="/telerehab/css/video.css">
    <link rel="stylesheet" href="/telerehab/css/media.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <meta name="yandex" content="index, follow" />
</head>

<body>
    <div class="wrapper">
        <div class="inner">
            <div id="header" class="header">
                <div class="content header-div border-red_">
                    <div class="header-div-1 border-brown_">
                        <div id="logo" class="logo border-brown_">
                            <div class="logo-img border-brown_">
                                <img src="/telerehab/images/logo.png" alt="logo">
                            </div>

                            <div id="btn-burger" class="content-logo__burger">
                                <div class="header__burger">
                                    <span></span>
                                </div>
                            </div>

                            <!-- Меню бургера -->
                            <div id="header-logo__menu" class="header-logo__menu relative">
                                <div id="btn-close" class="close">
                                    <i class="fa-solid fa-close color-white"></i>
                                </div>

                                <ul class='flex'>
                                    <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                                    <li><a href="/medical-organizations">Медицинским организациям</a></li>
                                    <li><a href="/patients">Пациентам</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="header-div-2 border-brown_">
                        <div id="nav" class="nav flex justify-center border-brown_">
                            <ul id="nav-ul" class="flex">
                                <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                                <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                                <li><a href="/patients">Пациентам</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="header-div-3 border-brown_">
                        <div>
                            <i id="fa-phone" class="fa-solid fa-phone border-brown_"></i>
                        </div>

                        <div>
                            <i id="fa-envelope" class="fa-solid fa-envelope border-brown_"></i>
                        </div>

                        <!--<div id="nav-icons" class="flex justify-start align-center border-blue_">-->
                            <!--<div class="flex align-center border-brown_">-->
                                <!--<div class="flex align-center border-green">-->
                                    <!--<img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="max-w-30 border-green_">-->
                                <!--</div>-->
                                <!--<div class="flex align-center border-green">-->
                                    <!--<img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="max-w-30 border-green_">-->
                                <!---->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="block-top">
                <div class="flex flex-col content border-red_">
                    <h1 class="border-brown_">TELEREHAB. Маркетплейс Реабилитационных Курсов</h1>

                    <p class="border-brown_">
                        Телереабилитация - это онлайн занятия с пациентом или группой пациентов, находящихся дома, проводимые инструктором лечебной физкультуры (ЛФК) под руководством врача-реабилитолога.

                    </p>

                    <p>
                        <b class="font-size-inherit">Telerehab</b> предоставляет возможность пациентам дистанционно пройти курс медицинской реабилитации в профильной медицинской организации, а медорганизациям – предложить пациентам такие курсы и привлечь новых пациентов.

                    </p>

                    <p>
                        При этом инструктор следит за правильным выполнением упражнений, а врач дистанционно контролирует безопасность и эффективность реабилитации. Для занятий пациенту необходим только смартфон или компьютер, подключенный к интернет.

                    </p>
                </div>
            </div>

            <div class="block-banner">
                <div class="flex flex-col content border-brown_">
                    <h1>Действующие виды телереабилитации</h1>

                    <div class="flex border-brown_">
                        <div class="circle-arrow-left">
                            <div class="circle">
                                <div class="">
                                    <i class='fas fa-chevron-left'></i>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <img src="/telerehab/images/banner.jpeg" class="block-banner-img max-w-400" alt="фото">
                            </div>

                            <p class="block-banner-p">
                                Переболеви COVID-19
                                <br>с осложнениями
                            </p>
                        </div>

                        <div>
                            <div>
                                <img src="/telerehab/images/banner2.jpg" class="block-banner-img max-w-400" alt="фото">
                            </div>

                            <p class="block-banner-p">
                                Онкологическим
                                <br>пациентам
                            </p>
                        </div>

                        <div>
                            <div>
                                <img src="/telerehab/images/banner3.jpeg" class="block-banner-img max-w-400" alt="фото">
                            </div>

                            <p class="block-banner-p">
                                Детям после
                                <br>нейротравм
                            </p>
                        </div>

                        <div class="circle-arrow-right">
                            <div class="circle">
                                <div>
                                    <i class='fas fa-chevron-right'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-center border-brown_">
                <div class="content border-green_">
                    <!--<div class="border-brown">-->
                        <div class="block-center-content-div-1">

                        </div>

                        <div class="block-center-content-div-2 border-brown_">
                            <h2>
                                Приглашаем к сотрудничеству
                                <br>медицинские организации
                            </h2>

                            <p>
                                На нашей платформе вы можете проводить
                                дистанционную реабилитацию пациентов,
                                используя свой авторский курс.
                                <br>Подключитесь к платформе, выбрав один
                                из действующих видов телереабилитации
                                или предложите новый (новые).

                            </p>

                            <p id="detail" class="text-right">
                                <i class="font-size-inherit text-right">Подробнее…</i>
                            </p>

                            <div class="block-ask-question border-brown_">
                                <button class="form-btn">Задать вопрос</button>
                            </div>
                        </div>

                        <div class="block-center-content-div-3 border-brown_">
                            <form action="">
                                <input type="text" placeholder="Организация">
                                <input type="text" placeholder="Контактное лицо">
                                <input type="text" placeholder="E-mail">
                                <input type="text" placeholder="Выбрать действующий вид">
                                <input type="text" placeholder="Предложить новый (новые) вид (ы)">

                            </form>

                            <div class="block-contract border-brown_">
                                <button class="form-btn">Заключить договор</button>
                            </div>
                        </div>

                        <!--<div>-->
                            <!--<div>1</div>-->
                            <!--<div>2</div>-->
                            <!--<div>3</div>-->
                        <!--</div>-->
                    <!--</div>-->



                    <!--<p>-->

                        <!--<i class='fas fa-chevron-left'></i>-->
                        <!--<i class='fas fa-chevron-left' style='font-size:24px'></i>-->
                        <!--<i class='fas fa-chevron-left' style='font-size:36px'></i>-->
                        <!--<i class='fas fa-chevron-left' style='font-size:48px;color:red'></i>-->
                    <!--</p>-->
                </div>
            </div>

            <div class="block-our-advantages">
                <div class="content flex-col border-brown_">
                    <h2>Наши преимущества</h2>

                    <div class="content-flex flex">
                        <div class="block-our-advantages-circle"></div>
                        <div>
                            Гибкие настройки и
                            <br>высокое качество
                            <br>конференций
                        </div>
                        <div class="block-our-advantages-circle"></div>
                        <div>
                            Подключение любых
                            <br>авторских курсов
                            <br>реабилитации
                        </div>
                        <div class="block-our-advantages-circle-2"></div>
                        <div>
                            Дистанционное
                            <br>подключение в любой
                            <br>точке земного шара
                        </div>
                        <div class="block-our-advantages-circle-2"></div>
                        <div>
                            Возможность доступа
                            <br>к занятиям с сайта
                            <br>медорганизации
                        </div>
                    </div>

                    <div class="certificate-flex">
                        <div class="certificate border-brown_">
                            <img src="/telerehab/images/certificate.png" alt="фото">
                        </div>

                        <div class="certificate-text border-brown_">
                            <p>
                                TELEREHAB зарегистрирован как программа для ЭВМ под названием «TELEREHAB. Маркетплейс программ
                                <br>дистанционной реабилитации», <span class="">Свидетельство № 2022618164 от 05 мая 2022 г.</span>
                            </p>

                            <p>
                                TELEREHAB включен в включен в Единый реестр российских программ для электронных
                                <br>вычислительных машин и баз данных, <span class="">реестровый № 14362.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="block-footer border-brown_">
            <div class="content">
                <div class="border-brown_">
                    <div class="footer-block-left">
                        <span>ООО «АйПат»</span>
                        <br>+7 (499) 519-00-78
                        <br>support@i-pat.online
                    </div>

                </div>
                <div class="border-brown_"><img src="/telerehab/images/iPAT.png" class="max-w-250" alt="logo"></div>
                <div class="border-brown_"><img src="/telerehab/images/sr_logo_white.png" class="max-w-150" alt="logo"></div>
                <div class="border-brown_"><img src="/telerehab/images/telepat_logo_white.png" class="max-w-250" alt="logo"></div>
            </div>
        </footer>
    </div>

    <script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

    <script src="/telerehab/js/common.js"></script>

<script>

</script>
</body>
</html>



