<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Пациентам</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Пациентам">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/telerehab/css/normalize.css">
    <link rel="stylesheet" href="/telerehab/css/flex.css">
    <link rel="stylesheet" href="/telerehab/css/style.css">
    <link rel="stylesheet" href="/telerehab/css/fonts.css">
    <link rel="stylesheet" href="/telerehab/css/custom.css">
    <link rel="stylesheet" href="/telerehab/css/video.css">
    <link rel="stylesheet" href="/telerehab/css/media.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <meta name="yandex" content="index, follow" />
</head>

<body>
<div class="wrapper">
    <div class="inner">
        <div id="header" class="header">
            <div class="content header-div border-red_">
                <div class="header-div-1 border-brown_">
                    <div id="logo" class="logo border-brown_">
                        <div class="logo-img border-brown_">
                            <img src="/telerehab/images/logo.png" alt="logo">
                        </div>

                        <!--<div id="btn-burger" class="content-logo__burger">-->
                            <!--<div class="header__burger">-->
                                <!--<span></span>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!-- Меню бургера -->
                        <!--<div id="header-logo__menu" class="header-logo__menu relative">-->
                            <!--<div id="btn-close" class="close">-->
                                <!--<i class="fa-solid fa-close color-white"></i>-->
                            <!--</div>-->

                            <!--<ul class='flex'>-->
                                <!--<li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>-->
                                <!--<li><a href="/medical-organizations">Медицинским организациям</a></li>-->
                                <!--<li><a href="/patients">Пациентам</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                </div>

                <div class="header-div-2 border-brown_">
                    <div id="nav" class="nav flex justify-center border-brown_">
                        <ul id="nav-ul" class="flex">
                            <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                            <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                            <li><a href="/patients">Пациентам</a></li>
                        </ul>
                    </div>
                </div>

                <div class="header-div-3 border-brown_">
                    <div>
                        <i id="fa-phone" class="fa-solid fa-phone border-brown_"></i>
                    </div>

                    <div>
                        <i id="fa-envelope" class="fa-solid fa-envelope border-brown_"></i>
                    </div>

                    <!--<div id="nav-icons" class="flex justify-start align-center border-blue_">-->
                    <!--<div class="flex align-center border-brown_">-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="max-w-30 border-green_">-->
                    <!--</div>-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="max-w-30 border-green_">-->
                    <!---->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="block-top border-green_">
            <div class="content flex-col block-top-patients border-red_">
                <p>
                    <b class="font-size-inherit">Телереабилитация</b> – это комплексы онлайн занятий, проводимых инструкторами ЛФК под постоянным контролем врача.

                </p>

                <p>
                    На платформе TELEREHAB представлены виды телереабилитации с авторскими курсами, разработанными специалистами в профильных медицинских организациях.

                </p>

                <p>
                    Цель телереабилитации – быстрое восстановление и минимизации риска развития осложнений на амбулаторном этапе лечения.

                </p>

            </div>
        </div>

        <div class="block-top border-brown_">
            <div class="content flex-col block-top-courses border-green_">
                <p>
                    Предложенные курсы разработаны и проводятся профильными медицинскими
                    организациями. Каждая медорганизация формирует свои требования: по оплате,
                    запрашиваемым у пациента медицинским документам, графику проведения
                    занятий, а также видео-школам для самостоятельных занятий и информационным
                    материалам для пациентов.

                </p>

                <p>
                    Все курсы проходят под обязательным контролем врача-реабилитолога, который
                    разрабатывает специальный опросник, позволяющий оценить эффективность и
                    безопасность проводимой дистанционной реабилитации. Заполнение пациентом
                    опросников, присланных после каждого занятия, – обязательно!

                </p>

                <p>
                    Кроме того, врачу всегда можно сообщить о своих проблемах и задать вопрос.

                </p>

            </div>
        </div>

        <div class="block-top border-green_">
            <div class="content flex-col block-top-rehab border-brown_">
                <p>
                    Если вас интересует вид телереабилитации из представленных на платформе, и вы хотите
                    записаться в группу занятий, соответствующую перенесенному заболеванию, обратитесь в
                    медицинские организации, где проводят телерабилитацию нужного вам вида, по их контактам,
                    указанным на сайте.

                </p>

                <p>
                    Если вам нужно восстановление после перенесенного заболевания COVID-19, то
                    на странице <a href="https://telerehab.online/usr/covidrehab">https://telerehab.online/usr/covidrehab</a> вы можете воспользоваться кнопкой
                    Запись на реабилитацию.

                </p>

                <p>
                    Если под названием нужной Вам медорганизации такой кнопки нет, обратитесь,
                    пожалуйста, в эту медорганизацию под указанным на сайте контактам.

                </p>

            </div>
        </div>

        <div class="flex-col flex-col block-banner">
            <div class="flex-col content block-banner-content border-brown_">
                <h2>Действующие виды телереабилитации</h2>

                <div class="flex border-brown_">
                    <div class="circle-arrow-left">
                        <div class="circle">
                            <div class="">
                                <i class='fas fa-chevron-left'></i>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <img src="/telerehab/images/banner.jpeg" class="block-banner-img max-w-400" alt="фото">
                        </div>

                        <p class="block-banner-p">
                            Переболевшим COVID-19
                            <br>с осложнениями
                        </p>
                    </div>

                    <div>
                        <div>
                            <img src="/telerehab/images/banner2.jpg" class="block-banner-img max-w-400" alt="фото">
                        </div>

                        <p class="block-banner-p">
                            Онкологическим
                            <br>пациентам
                        </p>
                    </div>

                    <div>
                        <div>
                            <img src="/telerehab/images/banner3.jpeg" class="block-banner-img max-w-400" alt="фото">
                        </div>

                        <p class="block-banner-p">
                            Детям после
                            <br>нейротравм
                        </p>
                    </div>

                    <div class="circle-arrow-right">
                        <div class="circle">
                            <div>
                                <i class='fas fa-chevron-right'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <footer id="footer" class="block-footer border-brown_">
        <div class="content">
            <div class="border-brown_">
                <div class="footer-block-left">
                    <span>ООО «АйПат»</span>
                    <span>+7 (499) 519-00-78</span>
                    <span>support@i-pat.online</span>
                </div>
            </div>
            <div class="border-brown_"><img src="/telerehab/images/iPAT.png" class="max-w-250" alt="logo"></div>
            <div class="border-brown_"><img src="/telerehab/images/sr_logo_white.png" class="max-w-150" alt="logo"></div>
            <div class="border-brown_"><img src="/telerehab/images/telepat_logo_white.png" class="max-w-220" alt="logo"></div>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/telerehab/js/common.js"></script>

<script>

</script>
</body>
</html>



