{% extends "templates/base.html" %}
{% set title = "Отчеты transplant.net" %}
{% set h1 = "transplant.net" %}

{% block css %}
{{ super() }}
<style>
    .content {

    }

    .block {
        padding: 17px;
        background: #e9e9e9;
        margin: 0 auto;
    }

    .block p {
        font-size: 14px;
        padding: 3px;
        color: #212529;
    }

    .block label, input, span {
        font-size: 14px;
    }
</style>
{% endblock %}

{% block js_top %}
{{ super() }}

<script type="module">
    // import _ from 'data:application/json,"world!"';
    import {sayHi} from '/js/say.js';
    sayHi('John');
    // document.body.innerHTML = '<h1>HI</h1>';

    console.log('test') // crossorigin='anonymous'
</script>
{% endblock %}

{% block content %}
<div id="content" class="content">
    <h2></h2>

    <div class="block">
        <button id="sign" data-href="/doc/quest/156" class="btn btn-common display-block w-200">добавить медорганизацию</button>
    </div>

    <div class="block">
        <form class="">
            <input id="csrf_token" type="hidden" name="csrf_token" value="a2b2332f554e11597b128a133d767b8ca431796bc0bdb84887944f940e127c22">

            <p id="error" class="error display-none"></p>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control display-block" id="email" placeholder="ваш email" name="email">
            </div>

            <div class="form-group">
                <label for="pass">Пароль:</label>
                <div class="flex direction-row">
                    <input type="password" class="form-control" id="pass" placeholder="ваш пароль" name="password" data-toggle="password">

                    <div class="password-control">
                        <span id="password-control" data-over="password_control" data-click="password_control" class="material-icons">visibility</span>
                    </div>

                    <!--<div id="password-show" class="password-control mt-5 display-block">-->
                    <!--<a class="color-common" href="#">Показать пароль</a>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="form-group">
                <input type="checkbox" name="save" id="save" checked="checked" class="display-inline"> <span>Запомнить меня</span>
            </div>

            <!--<button type="submit" class="btn btn-primary" style="width:160px" onclick="login();return false">вход</button>-->

            <div class="form-group">
                <button id="sign" data-href="/doc/quest/156" class="btn btn-common display-block">Войти</button>

                <p class="mt-6">
                    <a class="color-common decoration-block-hover" href="/usr/pass/form">Не помню пароль</a>
                </p>
            </div>

        </form>
    </div>

    <div class="block">
        <!--<h3>footer</h3>-->
        <!--<img src="/img/svg/new/1.svg" alt="svg">-->
    </div>

</div>
{% endblock %}