{% extends "templates/admin/base.html" %}
{% set title = "Клиенты" %}
{% set description = "Клиенты" %}

{% block meta %}
{{ super() }}
{% endblock %}

{% block css %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block main %}

<style>
    /**/
    .form-client-btn-cancel {
        color: var(--bs-gray);
        background: transparent;
    }

    .form-client-btn-cancel:hover, #form-client-btn-cancel:active {
        color: cadetblue;
        background: transparent;
        border: 1px solid cadetblue;
    }

    .form-client-btn-cancel:focus {
        color: #288a84;
        background: transparent;
    }

    /**/

    .add-client {
        border: 1px solid #288a84;
        margin-right: 10px;
    }

    .add-client:hover {
        background: #288a84;
        /*border: 1px solid cadetblue;*/
    }

    .add-client:hover > i {
        color: white;
    }

    .add-client > i {
        color: #288a84;
        font-size: xx-large;
    }

    /**/

    .card {
        margin-bottom: 10px;
    }

    /*.none {*/
    /*    display: none;*/
    /*    width: 0;*/
    /*    opacity: 0; !*Элемент полностью прозрачный (невидимый)*!*/
    /*    ransition: 1s; !*Скорость перехода состояния элемента*!*/
    /*}*/

    /*.block {*/
    /*    display: block;*/
    /*    width: auto;*/
    /*    ransition: 1s; !*Скорость перехода состояния элемента*!*/
    /*}*/

    /*.show {*/
    /*    width: auto;*/
    /*    opacity: 1; !*Элемент полностью прозрачный (невидимый)*!*/
    /*    transition: 1s; !*Скорость перехода состояния элемента*!*/
    /*}*/

    /*.hide {*/
    /*    width: 0;*/
    /*    opacity: 0; !*Элемент полностью прозрачный (невидимый)*!*/
    /*    transition: 1s; !*Скорость перехода состояния элемента*!*/
    /*}*/

    /*.flex {*/
    /*    display: flex;*/
    /*}*/
</style>

<style>
    * {box-sizing: border-box}
    .accordeon__wrapper {
        max-width: 600px;
        /*font-family: sans-serif;*/
    }
    .accordeon__section {
        border: 1px solid grey;
        border-radius: 10px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
    .accordeon__header {
        backgroundr: #288a84;
        padding: 20px;
        cursor: pointer;
        user-select: none;
    }
    .accordeon__link {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .accordeon__body {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    .opened .accordeon__body {
        /*   max-height: *.clientHeight; */
    }
    .accordeon__body * {
        /*padding: 20px;*/
        display: block;
    }

    .accordeon__body b {
        /*padding: 20px;*/
        display: inline;
    }

    /**/



    #buttons-group {
        display: flex;
    }

    #form-client {
        margin-bottom: 50px;
    }

    .fa-plus {
        font-size: x-large;
        margin-right: 20px;
    }

    /**/

    .hide, display-none {
        display: none;
    }

    .show, display-block {
        display: block;
    }
</style>

<div class="content-wrapper">
    <div class="accordeon__wrapper col-lg-6">
        <div class="accordeon__section">
            <div class="accordeon__header">
                <a href="#" class="accordeon__link"><i class="fa-solid fa-plus"></i> Добавить клиента</a>
            </div>
            <div class="accordeon__body">
                <div class="card border-red_">
                    <div class="card-body border-red_">
                        <h4 class="card-title">Клиенты</h4>

                        <p class="card-description">
                            Форма добавления
                        </p>

                        <form id="form-client" method="post" enctype="application/x-www-form-urlencoded" class="forms-sample border-red_">
                            <div class="form-group">
                                <label for="form-client-fio">Имя *</label>
                                <input id="form-client-fio" class="form-control" placeholder="ФИО *" autocomplete="name">

                                <span id="form-client-fio-error" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="form-client-phone">Телефон *</label>
                                <input id="form-client-phone" class="form-control" type="tel" placeholder="Телефон *">

                                <span id="form-client-phone-error" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="form-client-email">e-mail</label>
                                <input id="form-client-email" class="form-control" type="email" placeholder="e-mail">

                                <span id="form-client-email-error" class="error"></span>
                            </div>

                            <div id="buttons-group" class="form-group">
                                <button id="form-client-btn-add" type="submit" class="btn btn-success me-2">Добавить</button>
                                <button id="form-client-btn-cancel" type="submit" class="btn btn-light form-client-btn-cancel">Очистить поля</button>
                            </div>

                            <div class="form-group">
                                <span id="form-client-error" class="red"></span>
                            </div>

                            <div class="form-group">
                                <span id="form-client-success" class="green"></span>
                            </div>

<!--                            <button class="btn btn-outline-success" onclick="showSwal('warning-message-and-cancel')">Click here!</button>-->

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<div class="content-wrapper">-->
<!--    <div class="col-lg-6">-->
<!--        <button id="add-client" class="btn btn-large add-client"><i class="fa-solid fa-plus"></i></button>-->

<!--        <span>Добавить клиента</span>-->
<!--    </div>-->

<!--</div>-->

<!-- Форма content-wrapper-client -->

<style>
    .i-mdi {
        right: 0;
        font-size: x-large;
        cursor: pointer;
    }

    .relative {
        position: relative;
    }
    .absolute {
        position: absolute;
    }

    .swal2-popup {
        background: #123456;
    }
</style>

<!-- for data.list -->
<div class="content-wrapper">
    <div class="col-lg-6">
        {% for item in data.list %}
        <div class="card border-brown_">
            <div class="card-body">
                <p>{{ item.name }}</p>

                <p class="relative">
                    <i class="fa-solid fa-phone"></i> {{ item.phone }}
                    <i data-id="{{ item.id }}" class="i-mdi mdi mdi-chat-processing-outline absolute"></i>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="content-wrapper hide">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table .table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                ФИО
                            </th>
                            <th>
                                Телефон
                            </th>
                            <th>
                                email
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in data.clients %}
                        <tr>
                            <td>
                                {{ client.id }}
                            </td>
                            <td>
                                {{ client.name }}
                            </td>
                            <td>
                                {{ client.phone }}
                            </td>
                            <td>
                                {{ client.email }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- main-panel -->
<div class="main-panel hide">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
                            <div class="card-body">
                                <div class="wrapper text-center">
                                    <h4 class="card-title">Alerts Popups</h4>
                                    <p class="card-description">A basic message</p>
                                    <button id="show" class="btn btn-outline-success">Click here!</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
                            <div class="card-body">
                                <div class="wrapper text-center">
                                    <h4 class="card-title">Alerts Popups</h4>
                                    <p class="card-description">A title with a text under</p>
                                    <button class="btn btn-outline-success" onclick="showSwal('title-and-text')">Click here!</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                            <div class="card-body">
                                <div class="wrapper text-center">
                                    <h4 class="card-title">Alerts Popups</h4>
                                    <p class="card-description">A success message!</p>
                                    <button class="btn btn-outline-success" onclick="showSwal('success-message')">Click here!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
                            <div class="card-body">
                                <div class="wrapper text-center">
                                    <h4 class="card-title">Alerts Popups</h4>
                                    <p class="card-description">A success message!</p>
                                    <button class="btn btn-outline-success" onclick="showSwal('custom-html')">Click here!</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 d-flex justify-content-center border-right">
                            <div class="card-body">
                                <div class="wrapper text-center">
                                    <h4 class="card-title">Alerts Popups</h4>
                                    <p class="card-description">A success message!</p>
                                    <button class="btn btn-outline-success" onclick="showSwal('warning-message-and-cancel')">Click here!</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                            <div class="card-body">
                                <div class="wrapper text-center">
                                    <h4 class="card-title">Alerts Popups</h4>
                                    <p class="card-description">A message with auto close timer</p>
                                    <button class="btn btn-outline-success" onclick="showSwal('auto-close')">Click here!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4 class="card-title">Avgrund Popup</h4>
                                <p class="card-description">Avgrund simple popup</p>
                                <a href="#" id="show" class="btn btn-outline-danger">Click here!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_footer %}
{{ super() }}
{% endblock %}

{% block js_private %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--<script src="/js-admin/alerts.js"></script>-->
<script src="/js/client/common.js"></script>

<script>
    const accordeon__sections = document.querySelectorAll('div.accordeon__section');

    console.log({ accordeon__sections })

    accordeon__sections.forEach((accSection) => {
        const accHeader = accSection.querySelector('.accordeon__header');
        const accBody = accSection.querySelector('.accordeon__body');
        const accContent = accSection.querySelector('.accordeon__body > *');

        console.log('accordeon__section')

        accHeader.addEventListener('click', () => {
            accSection.classList.toggle("opened");

            if ( accSection.classList.contains("opened") ) {
                accBody.style.maxHeight = `${accContent.clientHeight}px`;
            } else {
                accBody.style.maxHeight = "0px";
            }
        })
    });

    /**/

    // const showClientInfo = document.getElementById('show-client-info');
    //
    // showClientInfo.addEventListener('click', e => {
    //     console.log({ showClientInfo })
    // });

    /**/

    //Swal.fire("Good job!", "You clicked the button!", "success");

    const blockOverflow = document.getElementById("block-overflow");

    const btnShow = document.getElementById("show");
    const btnCloseOverflow = document.getElementById("btn-close-overflow");

    btnCloseOverflow.addEventListener('click', (e) => {
        blockOverflow.style.height = '0px';
        blockOverflow.style.padding = '0';

        console.log({ btnCloseOverflow });
    });

    btnShow.addEventListener('click', (e) => {
        blockOverflow.style.height = '98%';
        blockOverflow.style.padding = '2em';

        console.log({ btnShow });

        // Swal.fire("Good job!", "You clicked the button!", "success");

        // Swal.fire({
        //     title: 'Custom animation with Animate.css',
        //     html: '',
        //     showClass: {
        //         popup: 'animate__animated animate__fadeInDown'
        //     },
        //     hideClass: {
        //         popup: 'animate__animated animate__fadeOutUp'
        //     }
        // })
    });

    document.addEventListener('click', (e) => {
        // console.log(e.target.dataset.id);

        if (e.target.dataset.id !== undefined) {
            const id = e.target.dataset.id;
            // const el = document.getElementById(id);
            // console.log({ el });

            blockOverflow.style.height = '98%';
            blockOverflow.style.padding = '2em';
        }
    });

    // console.log('test');
</script>
{% endblock %}
