<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Шаблон для пациента</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Шаблон для пациента">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/nephrocenter/css/normalize.css">
    <link rel="stylesheet" href="/nephrocenter/css/flex.css">
    <link rel="stylesheet" href="/nephrocenter/css/style.css">
    <link rel="stylesheet" href="/nephrocenter/css/fonts.css">
    <link rel="stylesheet" href="/nephrocenter/css/auxiliary.css">

    <!--    <meta name="yandex" content="noindex, nofollow" />-->
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="flex content">
            <div class="flex logo">
                <img src="/nephrocenter/images/svg/logo.svg" class="logo-img" alt="За стеклом">
            </div>
            <div class="nav">
                <ul class="flex">
                    <li>Профилактика</li>
                    <li>Заболевания</li>
                    <li>Диализ</li>
                    <li>Трансплантация</li>
                    <li>Питание и ЛФК</li>
                    <li><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">вход<br> для врача</span></li>
                    <li><img src="/nephrocenter/images/exit.png" alt="exit"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="flex content">
            <div class="banner-text">col-1</div>
            <div class="banner-picture"><img src="/nephrocenter/images/kidney.png" alt="exit" class="border-brown"></div>
        </div>
    </div>
    <div class="top border-green">top</div>
    <div class="content border-green"><h1 class="red">nephrocenter</h1></div>
    <div class="bottom border-green">bottom</div>
    <div class="footer border-green">footer</div>
</div>

<script src="/nephrocenter/js/common.js"></script>

<!--<script async src="/js/common.js"></script>-->
<script>

</script>
</body>
</html>
