<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Шаблон для пациента</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Шаблон для пациента">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/nephrocenter/css/normalize.css">
    <link rel="stylesheet" href="/nephrocenter/css/flex.css">
    <link rel="stylesheet" href="/nephrocenter/css/style.css">
    <link rel="stylesheet" href="/nephrocenter/css/fonts.css">
    <link rel="stylesheet" href="/nephrocenter/css/custom.css">
    <link rel="stylesheet" href="/nephrocenter/css/media.css">

    <meta name="yandex" content="noindex, nofollow" />
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <div class="header">
                <div class="content">
                    <div class="logo">
                        <div class="logo-img">
                            <img src="/nephrocenter/images/svg/logo.svg" alt="За стеклом">
                        </div>

                        <div id="btn-burger" class="content-logo__burger">
                            <div class="header__burger">
                                <span></span>
                            </div>
                        </div>

                        <div class="header-logo__menu">
                            <ul class='flex'>
                                <li><a href="#">Профилактика 2</a></li>
                                <li><a href="#">Заболевания</a></li>
                                <li><a href="#">Диализ</a></li>
                                <li><a href="#">Трансплантация</a></li>
                                <li><a href="#">Питание и ЛФК</a></li>
                                <li><a href="#"></a><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">вход<br> для врача</span></li>
                                <li><a href="#"><img src="/nephrocenter/images/exit.png" alt="exit"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="nav" class="nav">
                        <ul class="flex">
                            <li><a href="#">Профилактика</a></li>
                            <li><a href="#">Заболевания</a></li>
                            <li><a href="#">Диализ</a></li>
                            <li><a href="#">Трансплантация</a></li>
                            <li><a href="#">Питание и ЛФК</a></li>
                            <li><a href="#"></a><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">вход для врача</span></li>
                            <li><a href="#"><img src="/nephrocenter/images/exit.png" alt="exit"></a></li>
                        </ul>
                    </div>

                    <div id="nav-mobile" class="nav">
                        <ul class="flex">
                            <li><a href="#">Профилактика 2</a></li>
                            <li><a href="#">Заболевания</a></li>
                            <li><a href="#">Диализ</a></li>

                        </ul>
                        <ul class="flex">
                            <li><a href="#">Трансплантация</a></li>
                            <li><a href="#">Питание и ЛФК</a></li>
                            <li><a href="#"></a><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">вход для врача</span></li>
                            <li><a href="#"><img src="/nephrocenter/images/exit.png" alt="exit"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="banner">
                <div class="content relative border-brown">
                    <div class="banner-text">
                        <div class="banner-text-title border-blue">
                            Все, что нужно знать
                            <br>о заболеваниях почек
                        </div>

                        <div class="banner-text-content">
                            Врачи называют болезнь  почек  «тихим убийцей». Признаки поражения почек отмечаются у каждого десятого взрослого жителя Земли. Но многие, страдающие хронической болезнью почек, длительное время даже не подозревают, что они больны.

                        </div>

                        <button class="banner-text-button">Подробнее</button>

                    </div>

                    <div class="banner-picture banner-image">
                        <!--<img src="/nephrocenter/images/kidney.png" alt="exit" class="border-blue">-->
                    </div>

                    <div class="navigation absolute">
                        <div>1</div>
                        <div>1</div>
                        <div>1</div>
                        <div>1</div>
                        <div>1</div>
                    </div>
                </div>
            </div>

            <div class="top">
                <div class="content flex-col">
                    <div class="top-item">
                        <div class="">
                            <h2 class="title-blk ">Что такое Хроническая<br> болезнь почек (ХБП)?</h2>
                        </div>

                        <div class=""> </div>
                    </div>

                    <div class="top-item">
                        <div class="">
                            <img src="/nephrocenter/images/ellipse.png" alt="ellipse" class="">

                        </div>
                        <div class="flex flex-col text-20">
                            <div class="">
                                Хроническая Болезнь Почек или ХБП — термин, который используется для описания большинства нарушений почечной деятельности. Термин «хроническая» означает состояние, которое полностью не улучшается, но и не обязательно является тяжелым, так как к ХБП относятся и легкие нарушения почечной деятельности.
                            </div>

                            <div>
                                ХБП обычно диагностируется случайно при обследовании заболеваний не связанных с почками. Симптомы почечной недостаточности могут проявляться на ранних, средних и поздних стадиях заболевания.
                            </div>

                            <div>
                                Возникновение осложнений хронической болезни почек зависит напрямую от тяжести нарушения функций почек, что может быть обнаружено при помощи определения уровня СКФ и числовых показателей альбуминурии / протеинурии. При уменьшении СКФ осложнения встречаются чаще и они становятся более тяжелыми
                            </div>
                        </div>
                    </div>

                    <div class="top-item">
                        <div class="flex flex-col ">
                                <h2 class="title-alt">Что значит находиться<br> на стадии 1 или 2 ХБП?</h2>

                                <div class="text-16 r10p">
                                    Это легкая форма почечной недостаточности с незначительным снижением почечной функции. Кровь или белок могут находиться в моче, что отражает уровень снижения почечной функции. Если Вы находитесь на одной из этих стадий, обратитесь к терапевту или нефрологу, они дадут Вам необходимые разъяснения как почечная недостаточность может повлиять на Вас и что Вам необходимо делать, чтобы позаботиться о Вашем здоровье.
                                </div>

                        </div>

                        <div class="flex flex-col ">
                            <div>
                                <h2 class="title-alt">Что значит находиться<br> на стадии 3ХБП?</h2>
                            </div>

                            <div>
                                <div class="text-16">
                                    Это значит, что функция Ваших почек умеренно снижена. Кровь или белок могут находиться в моче. Если Вы находитесь на данной стадии заболевания, Вам необходимо регулярное наблюдение за Вашей почечной функцией (анализ крови и мочи раз в полгода) у специалиста нефролога.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-item">
                        <div class="flex flex-col ">
                            <h2 class="title-alt">Что значит находиться<br>на стадии 4ХБП?</h2>

                            <div class="text-16 r10p">
                                Это легкая форма почечной недостаточности с незначительным снижением почечной функции. Кровь или белок могут находиться в моче, что отражает уровень снижения почечной функции. Если Вы находитесь на одной из этих стадий, обратитесь к терапевту или нефрологу, они дадут Вам необходимые разъяснения как почечная недостаточность может повлиять на Вас и что Вам необходимо делать, чтобы позаботиться о Вашем здоровье.

                            </div>

                        </div>

                        <div class="flex flex-col">
                            <div>
                                <h2 class="title-alt">Что значит находиться<br> на стадии 5ХБП?</h2>
                            </div>

                            <div>
                                <div class="text-16">
                                    Это значит, что Ваши почки серьезно повреждены и ваша жизнь в опасности.   Если это происходит достаточно быстро, врач нефролог обсудит с Вами возможные варианты лечения, такие как диализ (гемодиализ /перитонеальный диализ), пересадка почки или поддерживающее лечение (без диализа).

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service">
                <div class="content flex-col">
                    <div class="service-item border-brown">
                        <h2 class="title-blk">Как воспользоваться
                            <br>сервисом Теленефроцентр?</h2>
                    </div>

                    <div class="service-item">
                        <div>
                            <img src="/nephrocenter/images/tele-nephrocenter.png" alt="ellipse">
                        </div>

                        <div class="service-item-list">
                            <div class="flex">
                                <div class="flex-service-circle">
                                    <div class="service-circle">1</div>
                                </div>

                                <div>
                                    <p class="text-18">
                                        Зайдите  на сайт <span class="text-link">nephro-portal.ru</span>, зарегистрируйтесь и заведите личный кабинет-сюда можно будет загрузить  архив ваших медицинских документов, последнюю выписку, лабораторные исследования, задать интересующий Вас вопрос нефрологу.

                                    </p>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="flex-service-circle">
                                    <div class="service-circle">2</div>
                                </div>

                                <div>
                                    <p class="text-16">
                                        Заполните опросник о Вашем самочувствии.

                                    </p>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="flex-service-circle">
                                    <div class="service-circle">3</div>
                                </div>

                                <div>
                                    <p class="text-16">
                                        Внимательно изучите образовательные информационные материалы по заболеванию.

                                    </p>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="flex-service-circle">
                                    <div class="service-circle">4</div>
                                </div>

                                <div>
                                    <p class="text-16">
                                        Получите рекомендации нефролога  по дальнейшей маршрутизации и плану обследования и лечения.

                                    </p>
                                </div>
                            </div>

                            <div class="flex">
                                <div class="flex-service-circle">
                                    <div class="service-circle">5</div>
                                </div>

                                <div>
                                    <p class="text-16">
                                        Если лечащий врач назначил вам регулярное ведение электронного дневника и календаря по приему лекарств – старайтесь внимательно следить за своим состоянием и сообщать об этом врачу. Это необходимо для того ,чтобы как можно  раньше выявить нежелательные побочные  явления лекарственной терапии или другие осложнения  и вовремя скорректировать план лечения.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="service-item">
                        <div>
                            <div class="text-18 r10p">
                                Специализированная нефрологическая помощь особенно для пациентов 4-5 ХБП в РФ оказывается быстро и по ОМС, включает диагностику и лечение острых и хронических заболеваний почек, а также ведение пациентов с терминальной почечной недостаточностью, получающих различные варианты заместительной почечной терапии. Российская нефрологическая служба построена преимущественно по территориальному принципу. Диагностику и лечение хронических заболеваний почек, впервые выявленных и в период обострения, осуществляют нефрологи — амбулаторно и в условиях специализированных нефрологических отделений стационаров. 

                            </div>

                            <div class="text-18 r10p">
                                При необходимости во «втором мнении« по вашему заболеванию или лечению, можно обратиться в Теленефроцентр консультативно — диагностического нефрологического отделения ГКБ N52 г.Москвыи отправить вопрос kdno2020@yandex.ru

                            </div>

                            <div class="text-18 r10p">
                                <div>
                                    Врачи-нефрологи ведут прием и диспансерное наблюдение пациентов с различными заболеваниями почек:

                                </div>

                                <ul class="">
                                    <li>Гломерулонефритом и пиелонефритом;</li>
                                    <li>Почечной недостаточностью любого происхождения;</li>
                                    <li>Пациентов, получающих лечение гемодиализом и перитонеальным диализом;</li>
                                    <li>Пациентов после пересадки почки;</li>
                                    <li>Нефрологических пациентов с сахарным диабетом.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="">
                            <img src="/nephrocenter/images/nephrohelp.png" alt="nephrohelp">
                        </div>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="content flex-col">
                    <div class="info-flex">
                        <div>
                            <h2 class="title-blk">Москвичам</h2>

                            <div class="text18-23">
                                Записаться на прием можно по телефонам
                                <br><span>8 (499) 196-22-48</span> и <span>8 (499) 196-18-84</span>
                                <br>при наличии направления на консультацию, российского паспорта, полиса ОМС.

                            </div>

                            <p class="text18-23">
                                Медицинская документация, необходимая для первичной консультации врача-нефролога КДНО:

                            </p>

                            <ul class="text18-23">
                                <li>Гломерулонефритом и пиелонефритом;</li>
                                <li>Почечной недостаточностью любого происхождения;</li>
                                <li>Пациентов, получающих лечение гемодиализом и перитонеальным диализом;</li>
                                <li>Пациентов после пересадки почки;</li>
                                <li>Нефрологических пациентов с сахарным диабетом.</li>
                            </ul>
                        </div>

                        <div>
                            <h2 class="title-blk">Иногородним</h2>

                            <div>
                                <p class="text18-23">
                                    Иногородним гражданам для проведения диализа в Москве по полису ОМС нужно выслать в организационно-методический отдел по нефрологии nephro.omo52@yandex.ru копии следующих документов:

                                </p>

                                <ul class="text18-23">
                                    <li>паспорт;</li>
                                    <li>полис ОМС;</li>
                                    <li>выписка из диализного центра, в котором пациент проходит гемодиализ;</li>
                                    <li>направление на имя главного нефролога Москвы О.Н.Котенко форма 057у из поликлиники или медицинского центра, где наблюдается пациент, за подписью руководителя с отметкой «направляется для лечения программным гемодиализом в г.Москве».</li>
                                </ul>

                                <p class="text18-23">
                                    Телефон ОМО по нефрологии <span>8 (499) 196-33-01</span>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="info-flex">
                        <div>
                            <h2 class="title-blk">Платные услуги</h2>

                            <div class="text18-23 border-blue">
                                Если пациент планирует получить услугу 
                                <br>на платной основе (например, не является
                                <br>гражданином России и не имеет полиса ОМС РФ),
                                <br>следует обратиться в отдел платных медицинских
                                <br>услуг <span>8 (499) 196-09-24</span> или по электронной почте <span class="text-link">pmu52gkb@mail.ru</span>.

                            </div>
                        </div>

                        <div></div>
                    </div>
                </div>
            </div>

            <div class="consultation">
                <div class="content">
                    <button class="consultation-specialist text-32">Записаться на консультацию к специалисту</button>

                    <!--<div class="flex align-center">-->
                        <!--<button class="consultation-specialist text-32">Записаться на консультацию к специалисту</button>-->

                        <!--&lt;!&ndash;<div class="border-brown padding">&ndash;&gt;-->
                            <!--&lt;!&ndash;<button class="consultation-specialist text-32">Записаться на консультацию к специалисту</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--</div>-->
                </div>
            </div>

            <div class="support">
                <div class="content flex-col">
                    <div id="support-title" class="support-flex">
                        <h2 class="title-alt2">При поддержке:</h2>
                    </div>

                    <div id="support-flex" class="support-flex">
                        <div>
                            <img src="/nephrocenter/images/support1.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support2.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support3.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support4.png" alt="support">
                        </div>
                    </div>

                    <div id="support-mobile" class="support-flex">
                        <div class="">
                            <div>
                                <img src="/nephrocenter/images/support1.png" alt="support">
                            </div>

                            <div>
                                <img src="/nephrocenter/images/support2.png" alt="support">
                            </div>
                        </div>

                        <div class="">
                            <div>
                                <img src="/nephrocenter/images/support3.png" alt="support">
                            </div>

                            <div>
                                <img src="/nephrocenter/images/support4.png" alt="support">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="footer">
            <div class="content flex-col">
                <div id="footer-flex" class="footer-flex">
                    <div class="flex-basis-25 text-14">
                        Здоровье почек.
                        <br>Болезни почек
                        <br>Почки и беременность
                        <br>Возрастные заболевания почек
                    </div>

                    <div class="flex-basis-25 text-14">
                        Осложнения хронической
                        <br>болезни почек
                        <br>Гемодиализ
                        <br>Перитонеальный диализ
                    </div>

                    <div class="flex-basis-25 text-14">
                        Трансплантация почки
                        <br>Диета и питание
                        <br>ЛФК. Физическая активность 
                        <br>при болезнях почек
                    </div>

                    <div class="flex-basis-25">
                        <div class="text-contact">
                            Контакты
                        </div>

                        <p class="text-phone">
                            8 (499) 196-22-48
                            <br>8 (499) 196-18-84
                        </p>
                    </div>
                </div>

                <div id="footer-copyright" class="footer-flex">
                    <div class="flex-basis-75">

                        <div class="text-14">© 2022, ТелеНефроЦентр. Все права защищены.</div>

                    </div>

                    <div class="flex-basis-25">

                        <img src="/nephrocenter/images/svg/skype.svg" alt="skype">

                        <img src="/nephrocenter/images/svg/telegram.svg" alt="telegram">

                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/nephrocenter/js/common.js"></script>

<!--<script async src="/js/common.js"></script>-->
<script>

</script>
</body>
</html>
