<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Шаблон для пациента</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Шаблон для пациента">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/nephrocenter/css/normalize.css">
    <link rel="stylesheet" href="/nephrocenter/css/flex.css">
    <link rel="stylesheet" href="/nephrocenter/css/style.css">
    <link rel="stylesheet" href="/nephrocenter/css/fonts.css">
    <link rel="stylesheet" href="/nephrocenter/css/custom.css">
    <link rel="stylesheet" href="/nephrocenter/css/media.css">

    <meta name="yandex" content="noindex, nofollow" />
</head>
<body>
<div class="wrapper">
    <div class="inner">
        <div class="header">
            <div class="content">
                <div class="logo">
                    <div class="logo-img">
                        <img src="/nephrocenter/images/svg/logo.svg" alt="За стеклом">
                    </div>

                    <div id="btn-burger" class="content-logo__burger">
                        <div class="header__burger">
                            <span></span>
                        </div>
                    </div>

                    <div class="header-logo__menu">
                        <ul class='flex'>
                            <li><a href="#">Профилактика 2</a></li>
                            <li><a href="#">Заболевания</a></li>
                            <li><a href="#">Диализ</a></li>
                            <li><a href="#">Трансплантация</a></li>
                            <li><a href="#">Питание и ЛФК</a></li>
                            <li><a href="#"></a><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">вход<br> для врача</span></li>
                            <li><a href="#"><img src="/nephrocenter/images/exit.png" alt="exit"></a></li>
                        </ul>
                    </div>
                </div>

                <div id="nav" class="nav">
                    <ul id="nav-ul" class="flex">
                        <li><a href="#">Профилактика</a></li>
                        <li><a href="#">Заболевания</a></li>
                        <li><a href="#">Диализ</a></li>
                        <li><a href="#">Трансплантация</a></li>
                        <li><a href="#">Питание и ЛФК</a></li>
                        <li><a href="#" class="flex"><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">ВХОД ДЛЯ ВРАЧА</span></a></li>
                        <li><a href="#" class="flex"><img src="/nephrocenter/images/exit.png" alt="exit"> <span class="smaller">ЛИЧНЫЙ КАБИНЕТ</span></a></li>
                    </ul>
                </div>

                <div id="nav-mobile" class="nav">
                    <ul class="flex">
                        <li><a href="#">Профилактика</a></li>
                        <li><a href="#">Заболевания</a></li>
                        <li><a href="#">Диализ</a></li>
                        <li><a href="#">Трансплантация</a></li>
                        <li><a href="#">Питание и ЛФК</a></li>
                    </ul>
                    <ul id="nav-ul-mobile" class="flex">
                        <li><a href="#" class="flex"><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">ВХОД ДЛЯ ВРАЧА</span></a></li>
                        <li><a href="#" class="flex"><img src="/nephrocenter/images/exit.png" alt="exit"> <span class="smaller">ЛИЧНЫЙ КАБИНЕТ</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="block-center">
            <div class="content">
                <div id="menu-left" class="menu-left">
                    <ul class="">
                        <li><a href="#">Почки и их функции</a></li>
                        <li><a href="#">Симптомы при болезнях почек</a></li>
                        <li><a href="#">Диагностика болезней почек</a></li>
                        <li><a href="#">Мифы и факты о болезнях почек</a></li>
                        <li><a href="#">Предотвращение болезней почек</a></li>
                        <li><a href="#">Почки и беременность</a></li>
                        <li><a href="#">Библиотека пациента</a></li>
                    </ul>
                </div>

                <div id="menu-left-mobile" class="menu-left">
                    <ul class="">
                        <li><a href="#">Почки и их функции</a></li>
                        <li><a href="#">Симптомы при болезнях почек</a></li>
                        <li><a href="#">Диагностика болезней почек</a></li>
                        <li><a href="#">Мифы и факты о болезнях почек</a></li>
                        <li><a href="#">Предотвращение болезней почек</a></li>
                        <li><a href="#">Почки и беременность</a></li>
                        <li><a href="#">Библиотека пациента</a></li>
                    </ul>
                </div>

                <div class="content-detail">
                    <img src="/nephrocenter/images/video-youtube.png" class="video-youtube" alt="video-youtube">


                </div>
            </div>
        </div>

        <div class="support">
            <div class="content flex-col">
                <div id="support-title" class="support-flex">
                    <h2 class="title-alt2">При поддержке:</h2>
                </div>

                <div id="support-flex" class="support-flex">
                    <div>
                        <img src="/nephrocenter/images/support1.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support2.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support3.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support4.png" alt="support">
                    </div>
                </div>

                <div id="support-mobile" class="support-flex">
                    <div class="">
                        <div>
                            <img src="/nephrocenter/images/support1.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support2.png" alt="support">
                        </div>
                    </div>

                    <div class="">
                        <div>
                            <img src="/nephrocenter/images/support3.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support4.png" alt="support">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="content flex-col">
            <div id="footer-flex" class="footer-flex">
                <div class="flex-basis-25">
                    <p>Здоровье почек</p>
                    <p>Болезни почек</p>
                    <p>Почки и беременность</p>
                    <p>Возрастные заболевания почек</p>
                </div>

                <div class="flex-basis-25">
                    <p>Осложнения хронической</p>
                    <p>болезни почек</p>
                    <p>Гемодиализ</p>
                    <p>Перитонеальный диализ </p>
                </div>

                <div class="flex-basis-25">
                    <p>Трансплантация почки</p>
                    <p>Диета и питание</p>
                    <p>ЛФК. Физическая активность</p>
                    <p>при болезнях почек</p>
                </div>

                <div id="contacts" class="flex-basis-25">
                    <h3>Контакты</h3>

                    <div id="footer-phones" class="text-phone">
                        <p>8 (499) 196-22-48</p>
                        <p>8 (499) 196-18-84</p>
                    </div>
                </div>
            </div>

            <div id="footer-copyright" class="footer-flex border-brown">
                <div class="flex-basis-75">
                    <p class="">© 2022, ТелеНефроЦентр. Все права защищены.</p>
                </div>

                <div class="flex-basis-25">

                    <img src="/nephrocenter/images/svg/skype.svg" alt="skype">

                    <img src="/nephrocenter/images/svg/telegram.svg" alt="telegram">

                </div>
            </div>
        </div>
    </footer>
</div>

<script src="/nephrocenter/js/common.js"></script>

<script>

</script>
</body>
</html>
