<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Шаблон для пациента</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Шаблон для пациента">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/nephrocenter/css/normalize.css">
    <link rel="stylesheet" href="/nephrocenter/css/flex.css">
    <link rel="stylesheet" href="/nephrocenter/css/style.css">
    <link rel="stylesheet" href="/nephrocenter/css/fonts.css">
    <link rel="stylesheet" href="/nephrocenter/css/custom.css">
    <link rel="stylesheet" href="/nephrocenter/css/media.css">

    <meta name="yandex" content="noindex, nofollow" />
</head>
<body>
<div class="wrapper">
    <div class="inner">
        <div class="header border-brown__">
            <div class="content">
                <div class="logo border-brown">
                    <div class="logo-img border-blue">
                        <img src="/nephrocenter/images/svg/logo.svg" alt="За стеклом">
                    </div>

                    <div id="btn-burger" class="content-logo__burger border-brown">
                        <div class="header__burger border-red">
                            <span></span>
                        </div>
                    </div>

                    <div class="header-logo__menu">
                        <ul class=border-brown__">
                            <li>Профилактика</li>
                            <li>Заболевания</li>
                            <li>Диализ</li>
                            <li>Трансплантация</li>
                            <li>Питание и ЛФК</li>
                            <li><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">вход<br> для врача</span></li>
                            <li><img src="/nephrocenter/images/exit.png" alt="exit"></li>
                        </ul>
                    </div>

                    <!--<div class="border-blue">-->
                        <!--logo-->
                    <!--</div>-->
                </div>

                <div class="nav">

                    <ul class="flex border-brown__">
                        <li>Профилактика</li>
                        <li>Заболевания</li>
                        <li>Диализ</li>
                        <li>Трансплантация</li>
                        <li>Питание и ЛФК</li>
                        <li><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">вход<br> для врача</span></li>
                        <li><img src="/nephrocenter/images/exit.png" alt="exit"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="block-center">
            <div class="content border-green">
                <div class="menu-left border-brown__">

                        <ul>
                            <li>Почки и их функции</li>
                            <li>Симптомы при болезняхпочек</li>
                            <li>Диагностика болезнейпочек</li>
                            <li>Мифы и факты о болезняхпочек</li>
                            <li>Предотвращение болезней почек</li>
                            <li>Почки и беременностьгиперссылка</li>
                            <li>Библиотека пациентагиперссылка</li>
                        </ul>

                </div>

                <div class="content-right border-brown__">
                    <img src="/nephrocenter/images/video-youtube.png" class="video-youtube" alt="video-youtube">
                </div>
            </div>
        </div>

        <div class="support">
            <div class="content flex-col">
                <div class="support-flex">
                    <div>
                        <h2 class="title-alt2">При поддержке:</h2>
                    </div>
                </div>

                <div class="support-flex">
                    <div>
                        <img src="/nephrocenter/images/support1.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support2.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support3.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support4.png" alt="support">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="content flex-col">
            <div class="footer-flex">
                <div class="flex-basis-25 text-14">
                    Здоровье почек.
                    <br>Болезни почек
                    <br>Почки и беременность
                    <br>Возрастные заболевания почек
                </div>

                <div class="flex-basis-25 text-14">
                    Осложнения хронической
                    <br>болезни почек
                    <br>Гемодиализ
                    <br>Перитонеальный диализ
                </div>

                <div class="flex-basis-25 text-14">
                    Трансплантация почки
                    <br>Диета и питание
                    <br>ЛФК. Физическая активность 
                    <br>при болезнях почек
                </div>

                <div class="flex-basis-25">
                    <div class="text-contact">
                        Контакты
                    </div>

                    <p class="text-phone">
                        8 (499) 196-22-48
                        <br>8 (499) 196-18-84
                    </p>
                </div>
            </div>

            <div class="footer-flex">
                <div class="flex-basis-75">
                    <div>
                        <p class="text-14">© 2022, ТелеНефроЦентр. Все права защищены.</p>
                    </div>
                </div>

                <div class="flex flex-basis-25">
                    <div>
                        <img src="/nephrocenter/images/svg/skype.svg" alt="skype">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/svg/telegram.svg" alt="telegram">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="/nephrocenter/js/common.js"></script>

<script>

</script>
</body>
</html>
