<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Главная">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/telerehab/css/normalize.css">
    <link rel="stylesheet" href="/telerehab/css/flex.css">
    <link rel="stylesheet" href="/telerehab/css/style.css">
    <link rel="stylesheet" href="/telerehab/css/fonts.css">
    <link rel="stylesheet" href="/telerehab/css/custom.css">
    <link rel="stylesheet" href="/telerehab/css/video.css">
    <link rel="stylesheet" href="/telerehab/css/media.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <meta name="yandex" content="index, follow" />
</head>

<body>
<div class="wrapper">
    <div class="inner">
        <div id="header" class="header">
            <div class="content header-div border-red_">
                <div class="header-div-1 border-brown_">
                    <div id="logo" class="logo border-brown_">
                        <div class="logo-img border-brown_">
                            <img src="/telerehab/images/logo.png" alt="logo">
                        </div>

                        <div id="btn-burger" class="content-logo__burger">
                            <div class="header__burger">
                                <span></span>
                            </div>
                        </div>

                        <!-- Меню бургера -->
                        <div id="header-logo__menu" class="header-logo__menu relative">
                            <div id="btn-close" class="close">
                                <i class="fa-solid fa-close color-white"></i>
                            </div>

                            <ul class='flex'>
                                <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                                <li><a href="/medical-organizations">Медицинским организациям</a></li>
                                <li><a href="/patients">Пациентам</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="header-div-2 border-brown_">
                    <div id="nav" class="nav flex justify-center border-brown_">
                        <ul id="nav-ul" class="flex">
                            <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                            <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                            <li><a href="/patients">Пациентам</a></li>
                        </ul>
                    </div>
                </div>

                <div class="header-div-3 border-brown_">
                    <div>
                        <i id="fa-phone" class="fa-solid fa-phone border-brown_"></i>
                    </div>

                    <div>
                        <i id="fa-envelope" class="fa-solid fa-envelope border-brown_"></i>
                    </div>

                    <!--<div id="nav-icons" class="flex justify-start align-center border-blue_">-->
                    <!--<div class="flex align-center border-brown_">-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="max-w-30 border-green_">-->
                    <!--</div>-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="max-w-30 border-green_">-->
                    <!---->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>


        <div class="block-top-covid border-red">
                <h1 class="mt-10">Телереабилитация пациентов, переболевших COVID-19 с осложнениями</h1>

                <p>
                    У пациентов, переболевших COVID-19 со среднетяжелым и тяжелым течением,
                    достаточно часто остаются кашель, одышка при незначительной физической
                    активности, гипо- или атрофия мышц, функциональные и психологические
                    проблемы, расстройства со стороны пищеварительной системы и другие
                    осложнения.

                </p>

                <p>
                    Телереабилитация будет способствовать увеличению эффективности
                    восстановительного периода во время самоизоляции, а также сможет дать
                    доступ к реабилитации пациентам, живущим в отдалённых районах или не
                    имеющих возможности проходить очную реабилитацию.
                </p>
            </div>



        <div class="info-start">
            <div>
                <h2>info-start</h2>
            </div>
        </div>

        <div class="info-central">
            <div>
                <h2>info-central</h2>
            </div>
        </div>

        <div class="info-end">
            <div>
                <h2>info-end</h2>
            </div>
        </div>


        <div class="block-center border-brown_">
            <div class="content border-green_">
                <!--<div class="border-brown">-->
                <div class="block-center-content-div-1">

                </div>

                <div class="block-center-content-div-2 border-brown_ relative">
                    <h2>
                        Приглашаем к сотрудничеству
                        <br>медицинские организации
                    </h2>

                    <p>
                        На нашей платформе вы можете проводить
                        дистанционную реабилитацию пациентов,
                        используя свой авторский курс.
                        <br>Подключитесь к платформе, выбрав один
                        из действующих видов телереабилитации
                        или предложите новый (новые).

                    </p>

                    <p id="detail" class="text-right">
                        <i class="font-size-inherit text-right">Подробнее…</i>
                    </p>

                    <div class="block-ask-question border-brown_">
                        <button class="form-btn btn-manipulate absolute">Задать вопрос</button>
                    </div>
                </div>

                <div class="block-center-content-div-3 relative">
                    <form action="">
                        <input type="text" placeholder="Организация">

                        <input type="text" placeholder="Контактное лицо">

                        <input type="text" placeholder="E-mail">

                        <select name="rehub" id="rehub">
                            <option value="none">Действующий вид телереабилитации</option>
                            <option value="recovered-covid">Переболевшим COVID-19 с осложнениями</option>
                            <option value="oncological-patients">Онкологическим пациентам</option>
                            <option value="children-neurotrauma">Детям после нейротравм</option>
                        </select>

                        <input type="text" placeholder="Предложить новый (новые) вид (ы)">

                    </form>

                    <div class="block-contract border-brown_">
                        <button class="form-btn btn-manipulate absolute">Заключить договор</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-our-advantages">
            <div class="content flex-col border-brown_">
                <div class="certificate-flex">
                    <div class="certificate border-brown_">
                        <img src="/telerehab/images/certificate.png" alt="фото">
                    </div>

                    <div class="certificate-text flex-col border-brown_">
                        <p>
                            TELEREHAB зарегистрирован как программа для ЭВМ под названием «TELEREHAB. Маркетплейс программ
                            <br>дистанционной реабилитации», <span class="">Свидетельство № 2022618164 от 05 мая 2022 г.</span>
                        </p>

                        <p class="margin-top-20">
                            TELEREHAB включен в включен в Единый реестр российских программ для электронных
                            <br>вычислительных машин и баз данных, <span class="">реестровый № 14362.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="block-footer border-brown_">
        <div class="content">
            <div class="border-brown_">
                <div class="footer-block-left">
                    <span>ООО «АйПат»</span>
                    <span>+7 (499) 519-00-78</span>
                    <span>support@i-pat.online</span>
                </div>
            </div>
            <div class="border-brown_"><img src="/telerehab/images/iPAT.png" class="max-w-250" alt="logo"></div>
            <div class="border-brown_"><img src="/telerehab/images/sr_logo_white.png" class="max-w-150" alt="logo"></div>
            <div class="border-brown_"><img src="/telerehab/images/telepat_logo_white.png" class="max-w-220" alt="logo"></div>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/telerehab/js/common.js"></script>

<script>

</script>
</body>
</html>



