#banner-image {
    opacity: 1;
    transition: opacity ease var(--time-05);
}

#banner-content {
    height: 85%;
}

#banner-content > h1 {
    width: 55%;
    color: white;
    padding: 65px 0px 10px 0px;
    font-size: 25px;
}

#banner-content > div > p {
    width: 55%;
    color: white;
    font-size: 145%;
    line-height: 30px;
}

#banner-navigation {
    height: 15%;
}

.banner-image-1 {
    /*background-position: top 0px right 270%;*/
}

.banner-image-2 {
    /*background-position: top 0px right 180%;*/
}

.banner-image-3 {
    /*background-position: top 0px right 130%;*/
}

.banner-image-4 {
    background-position: top 0px right 80% !important;
}

.banner-image-5 {
    /*background-position: top 0px right 100%;*/
    background-position: top 0px right 60% !important;
}

.banner-image-6 {
    /*background-position: top 0px right 100%;*/
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    background-color: var(--color-2);
}

.banner .content {
    display: flex;
    flex-direction: column;
}

.banner-image {
    background-image: url('/images/banner/kidney.png'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-position: top 0px right 0%;
    width: 100%;
    object-fit: cover; /* Вписываем фотографию в область */
    position: relative;
}

.banner-image .content {
    left: 0px;
}

.banner-image > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.background-position-top-140 {
    background-position: top 140px right 0px !important;
}

.background-position-right-150 {
    background-position: top 0px right 150px !important;
}

.background-position-right-20 {
    background-position: top 0px right 20% !important;
}

.top-image {
    background-image: url('/images/ellipse.png'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    object-fit: fill; /* Вписываем фотографию в область */
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: baseline;
    flex-basis: 49%;
}

.banner-text-button {
    width: 235px;
    height: 60px;
    background-color: #ffffff;
    color: var(--color-2);
    border-radius: 40px;
    border-color: white;
    outline: none;
    font-weight: 500;
    margin-top: 37px;
    font-size: 25px;
    margin-bottom: 15px;
}

.banner-text-button:hover {
    cursor: pointer;
}

.banner-picture {
    display: flex;
    justify-content: end;
    flex-basis: 51%;
}

.navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    width: 220px;
}

.navigation > div {
    display: flex;
    flex-direction: row;
}

.navigation > div > div {
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 10px;
    opacity: .4;
    cursor: pointer;
}

.active-circle {
    opacity: unset !important;
    background-color: white !important;
}
