.absolute {
    position:absolute;
}

.relative {
    position:relative;
}

.max-w-50 {
    max-width: 50px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.color-white {
    color: white;
}

.border-brown {
    border: 1px solid brown;
}

.border-green {
    border: 1px solid green;
}

.center {
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.m-auto {
    margin: 0 auto;
}

.w-auto {
    width: auto;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-130 {
    font-size: 130%
}

.font-size-inherit {
    font-size: inherit;
}

.font-weight-bold {
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

.list-style-square {
    list-style-type: square;
}

.list-style-circle {
    list-style-type: circle;
}
