.absolute {
    position:absolute;
}

.relative {
    position:relative;
}

.hidden {
    display: none;
}

.show {
    display: block;
}


.show-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.max-w-50 {
    max-width: 50px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-150 {
    max-width: 150px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-220 {
    max-width: 220px;
}

.max-w-250 {
    max-width: 250px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-350 {
    max-width: 350px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-450 {
    max-width: 450px;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-564 {
    max-width: 564px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-670 {
    max-width: 670px;
}

.max-w-700 {
    max-width: 700px;
}

.max-w-900 {
    max-width: 900px;
}

.max-w-950 {
    max-width: 950px;
}

.max-w-960 {
    max-width: 960px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.color-white {
    color: white;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-blue {
    border: 1px solid blue;
}

.border-brown {
    border: 1px solid brown;
}

.center {
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.m-auto {
    margin: 0 auto;
}

.w-auto {
    width: auto;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-130 {
    font-size: 130%
}

.font-size-inherit {
    font-size: inherit;
}

.font-weight-bold {
    font-weight: bold;
}

.font-style-italic {
    font-style: italic;
}

.red {
    color: red;
}

.green {
    color: green;
}

.list-style-square {
    list-style-type: square !important;
}

.list-style-circle {
    list-style-type: circle !important;
}

.list-style-decimal {
    list-style-type: decimal !important;
}

.bold {
    font-weight: var(--font-medium);
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top--10 {
    margin-top: -10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top--30 {
    margin-top: -20px !important;
}

.width-100 {
    width: 100%;
}
