@media (max-width: 767px) {
    * {
        font-size: calc(var(--sizeindex) * 1.2);
    }

    p {
        line-height: var(--lineheight-large);
    }

    .content {
        width: 90%;
    }

    .block-center .content {
        flex-direction: column;
    }

    .logo {
        margin-top: 20px;
    }

    .logo > div {
        flex-basis: 50%;
    }

    #nav {
        display: none;
    }

    #nav-mobile {
        display: none !important;
    }

    .support-flex {
        flex-direction: column;
        align-items: start;
        top: 5pt;
    }

    .support-flex > div > div {
        margin-top: 8pt;
    }

    .header-logo__menu {
        /*display: block;*/
        position: fixed;
        left: 0;
        top: 7%;
        width: 100%;
        height: 100%;
        background-color: white;
        /*background-color: #0ba1b5;*/
        x-index: 2;

        /*margin-top: 70px;*/
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #313131;
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger span {
        content: '';
        background-color: #313131;
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
        top: 8px;
    }

    #footer-flex {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #footer-flex > div {
        flex-basis: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 1215px) {

    #nav {
        display: none;
    }

    #nav-mobile {
        display: block;
    }

    /*.nav > ul {*/
        /*justify-content: start;*/
    /*}*/

    /*a {*/
        /*align-items: center;*/
    /*}*/

    /*#nav {*/
        /*display: none;*/
    /*}*/

    /*#nav-mobile {*/
        /*display: block;*/
    /*}*/
}

@media (max-width: 1080px) {
    #support-flex {
        display: none;
    }

    #support-mobile {
        display: flex;
        margin-bottom: 25px;
    }

    #support-mobile > div {
        flex-basis: 50%;
    }
}

/*@media (max-width: 992px) {*/
    /** {*/
        /*font-size: calc(var(--sizeindex) * .8);*/
    /*}*/
/*}*/

/*@media (max-width: 1400px) {*/
    /** {*/
        /*font-size: calc(var(--sizeindex) * .8);*/
    /*}*/
/*}*/

@media (max-width: 1620px) {
    .logo {
        justify-content: start;
    }

    .header .content {
        flex-direction: column;
    }

    .nav > ul {
        justify-content: start;
    }
}

/* min-width */

/*@media (max-width: 1200px) {*/
    /** {*/
        /*font-size: calc(var(--sizeindex) * .7);;*/
    /*}*/
/*}*/

/*@media (max-width: 1300px) {*/
    /** {*/
        /*font-size: calc(var(--sizeindex) * .65);*/
    /*}*/
/*}*/

/*@media (min-width: 1600px) {*/
    /** {*/
        /*font-size: calc(var(--sizeindex) * .6);*/
    /*}*/
/*}*/
