<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Телереабилитация пациентов, переболевших COVID-19 с осложнениями</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Главная">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/telerehab/css/normalize.css">
    <link rel="stylesheet" href="/telerehab/css/flex.css">
    <link rel="stylesheet" href="/telerehab/css/style.css">
    <link rel="stylesheet" href="/telerehab/css/fonts.css">
    <link rel="stylesheet" href="/telerehab/css/custom.css">
    <link rel="stylesheet" href="/telerehab/css/video.css">
    <link rel="stylesheet" href="/telerehab/css/media.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <meta name="yandex" content="index, follow" />
</head>

<body>
<div class="wrapper">
    <div class="inner">
        <div id="header" class="header">
            <div class="content header-div border-red_">
                <div class="header-div-1 border-brown_">
                    <div id="logo" class="logo border-brown_">
                        <div class="logo-img border-brown_">
                            <img src="/telerehab/images/logo.png" alt="logo">
                        </div>

                        <div id="btn-burger" class="content-logo__burger">
                            <div class="header__burger">
                                <span></span>
                            </div>
                        </div>

                        <!-- Меню бургера -->
                        <div id="header-logo__menu" class="header-logo__menu relative">
                            <div id="btn-close" class="close">
                                <i class="fa-solid fa-close color-white"></i>
                            </div>

                            <ul class='flex'>
                                <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                                <li><a href="/medical-organizations">Медицинским организациям</a></li>
                                <li><a href="/patients">Пациентам</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="header-div-2 border-brown_">
                    <div id="nav" class="nav flex justify-center border-brown_">
                        <ul id="nav-ul" class="flex">
                            <li><a href="/types-telerehabilitation" class="active">Виды телереабилитации</a></li>
                            <li><a href="/ medical-organizations">Медицинским организациям</a></li>
                            <li><a href="/patients">Пациентам</a></li>
                        </ul>
                    </div>
                </div>

                <div class="header-div-3 border-brown_">
                    <div>
                        <i id="fa-phone" class="fa-solid fa-phone border-brown_"></i>
                    </div>

                    <div>
                        <i id="fa-envelope" class="fa-solid fa-envelope border-brown_"></i>
                    </div>

                    <!--<div id="nav-icons" class="flex justify-start align-center border-blue_">-->
                    <!--<div class="flex align-center border-brown_">-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/skype.svg" alt="skype" class="max-w-30 border-green_">-->
                    <!--</div>-->
                    <!--<div class="flex align-center border-green">-->
                    <!--<img src="/nephrocenter/images/svg/telegram.svg" alt="telegram" class="max-w-30 border-green_">-->
                    <!---->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="block-top-covid block-top-kids border-red_">
            <div class="content flex-col">
                <h1>Телереабилитация детей после нейротравм</h1>

                <div class="border-brown_">
                    <p>
                        Семья ребенка, получившего тяжелую нейротравму, после выписки из стационара, переживает психологическую травму, вынуждена полностью изменить весь семейный уклад. Эта ситуация усугубляется отсутствием в медицинских учреждениях по месту жительства ребенка профильных специалистов, способных на ранних стадиях диагностировать возникшие посттравматические осложнения и своевременно оказать квалифицированную медицинскую помощь.

                    </p>

                    <p>
                        Телереабилитация позволяет родителям оставаться с врачом–специалистом, проводившим лечение ребенка от нейротравмы в медучреждении, а ребенку

                    </p>
                </div>

            </div>

        </div>


        <div class="info-start">
            <div class="content">
                <h2>Действующий курс</h2>

                <p>
                    <b class="font-size-inherit">
                        KIDSREHAB. Сервис дистанционной реабилитации после детских нейротравм
                    </b>

                </p>

                <div class="border-brown_">
                    <img class="border-green_" src="/telerehab/images/kids-rehab/logo-left.png" alt="фото">

                    <div class="border-green_">
                        <p>
                            Проект KIDSREHAB создан совместно с НИИ неотложной детской хирургии и травматологии Департамента здравоохранения города Москвы.

                        </p>

                        <p>
                            Платформа KIDS REHAB позволяет поддержать родителей тяжелобольного ребенка в принятии решений, улучшает знания об уходе и методах реабилитации в домашних условиях, обеспечивает психологическую поддержку, повышает качество жизни и ускоряет восстановление ребенка, снижает бремя финансовой нагрузки за счет оптимизации транспортировки и затрат на специалистов по уходу за больным ребенком.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-central-kids border-brown_">
            <div class="content-default border-red_">
                <div class="border-white_">
                    <p class="margin-top-110">
                        <b>48+ человек</b>
                        <span>на реабилитации</span>
                    </p>

                    <p>
                        <b>335+ занятий</b>
                        <span>проведено</span>
                    </p>
                </div>

                <div class="border-white_">
                    <h2>Программа KIDSREHAB включает:</h2>

                    <ul class="list-style-square">
                        <li>Дыхательную гимнастику и аэробные упражнения.</li>
                        <li>Врачебное наблюдение.</li>
                        <li>Мониторинг жизнеугрожающих состояний.</li>
                        <li>Мониторинг возникновения новой неврологической и/или
                            <br>соматической симптоматики.</li>
                        <li>Консультации медицинского психолога.</li>
                        <li>Консультации эрготерапевта.</li>
                        <li>Блок для родителей, информирующий о специфике заболевания
                            <br>и ухода за ребенком на каждом этапе восстановления</li>
                        <li>Видео-школы, обучающие комплексу мероприятий поддержки и реабилитации больного ребенка.</li>

                    </ul>

                </div>
            </div>
        </div>

        <div class="info-end">
            <div class="content flex-col">
                <h2>На платформе KIDSREHAB работают:</h2>

                <style>
                    .info-end-kids {
                        display: flex;
                        align-items: center;
                        height: 100px;
                    }

                    .info-end-kids > img {
                        height: 75%;
                    }

                    .offset-block-1 {
                        margin-left: -20%;
                    }

                    .offset-block-2 {
                        margin-left: -75%;
                    }
                </style>

                <div class="flex border-red_">
                    <div class="info-end-content-flex flex justify-center border-red_">
                        <div class="info-end-kids offset-block-1 border-brown_">
                            <img class="border-green_" src="/telerehab/images/kids-rehab/partner-1.png" alt="фото">
                        </div>

                        <p class="border-red_">
                            Детская городская
                            <br>клиническая больница № 9,
                            <br>г. Екатеринбург
                        </p>
                    </div>

                    <div class="info-end-content-flex-2 flex justify-center border-red_">
                        <div class="info-end-kids offset-block-2 border-brown_">
                            <img class="border-green_" src="/telerehab/images/kids-rehab/partner-2.gif" alt="фото">
                        </div>

                        <p>
                            НИИ неотложной детской
                            <br>хирургии и травматологии,
                            <br>г. Москва
                        </p>
                    </div>

                </div>

                <div class="flex border-brown_">
                    <div class="flex justify-center border-red_">
                        <div class="info-end-kids border-brown_">
                            <img class="border-green_" src="/telerehab/images/kids-rehab/partner-3.png" alt="фото">
                        </div>

                        <p>
                            ФГБОУ ВО СПбГПМУ
                            <br>Минздрава России,
                            <br>г. Санкт-Петербург
                        </p>
                    </div>

                    <div class="flex justify-center border-red_">
                        <div class="info-end-kids border-brown_">
                            <img class="border-green_" src="/telerehab/images/kids-rehab/partner-4.jpg" alt="фото">
                        </div>

                        <p>
                            Оренбургская детская
                            <br>областная больница,
                            <br>г. Оренбург
                        </p>
                    </div>

                    <div class="flex justify-center border-red_">
                        <div class="info-end-kids border-brown_">
                            <img class="border-green_" src="/telerehab/images/kids-rehab/partner-5.png" alt="фото">
                        </div>

                        <p>
                            Детский клинической центр
                            <br>медицинской реабилитации,
                            <br>г. Хабаровск
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="block-center border-brown_">
            <div class="content border-green_">
                <!--<div class="border-brown">-->
                <div class="block-center-content-div-1">

                </div>

                <div class="block-center-content-div-2 border-brown_ relative">
                    <h2>
                        Приглашаем к сотрудничеству
                        <br>медицинские организации
                    </h2>

                    <p>
                        На нашей платформе вы можете проводить
                        дистанционную реабилитацию пациентов,
                        используя свой авторский курс.
                        <br>Подключитесь к платформе, выбрав один
                        из действующих видов телереабилитации
                        или предложите новый (новые).

                    </p>

                    <p id="detail" class="text-right">
                        <i class="font-size-inherit text-right">Подробнее…</i>
                    </p>

                    <div class="block-ask-question border-brown_">
                        <button class="form-btn btn-manipulate absolute">Задать вопрос</button>
                    </div>
                </div>

                <div class="block-center-content-div-3 block-center-content-div-3a relative">
                    <form action="">
                        <input type="text" placeholder="Организация">

                        <input type="text" placeholder="Контактное лицо">

                        <input type="text" placeholder="E-mail">

                        <input type="text" placeholder="Предложить новый (новые) вид (ы)">

                    </form>

                    <div class="block-contract border-brown_">
                        <button class="form-btn btn-manipulate absolute">Заключить договор</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank-kids">

        </div>
    </div>

    <footer id="footer" class="block-footer border-brown_">
        <div class="content">
            <div class="border-brown_">
                <div class="footer-block-left">
                    <span>ООО "АйПат"</span>
                    <span>+7 (499) 519-00-78</span>
                    <span>support@i-pat.online</span>
                </div>
            </div>

            <div class="block-footer-content-block-1">
                <div>
                    <img src="/telerehab/images/iPAT.png" class="" alt="logo">
                </div>
            </div>

            <div class="block-footer-content-block-2">
                <div>
                    <img src="/telerehab/images/new-logo/sr-logo.png" class="" alt="logo">
                </div>
            </div>

            <div class="block-footer-content-block-3">
                <div>
                    <img src="/telerehab/images/new-logo/telepat-logo.png" class="" alt="logo">
                </div>
            </div>

            <!--<div class="border-brown_"><img src="/telerehab/images/iPAT.png" class="max-w-250" alt="logo"></div>-->
            <!--<div class="border-brown_"><img src="/telerehab/images/sr_logo_white.png" class="max-w-150" alt="logo"></div>-->
            <!--<div class="border-brown_"><img src="/telerehab/images/telepat_logo_white.png" class="max-w-220" alt="logo"></div>-->
        <!---->
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/telerehab/js/common.js"></script>

<script>

</script>
</body>
</html>



