<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Шаблон для пациента</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Шаблон для пациента">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/nephrocenter/css/normalize.css">
    <link rel="stylesheet" href="/nephrocenter/css/flex.css">
    <link rel="stylesheet" href="/nephrocenter/css/style.css">
    <link rel="stylesheet" href="/nephrocenter/css/fonts.css">
    <link rel="stylesheet" href="/nephrocenter/css/custom.css">
    <link rel="stylesheet" href="/nephrocenter/css/video.css">
    <link rel="stylesheet" href="/nephrocenter/css/media.css">


    <meta name="yandex" content="noindex, nofollow" />
</head>
<body>
<div class="wrapper">

    <div class="inner">
        <div class="header">
            <div class="content">
                <div class="logo">
                    <div class="logo-img">
                        <img src="/nephrocenter/images/svg/logo.svg" alt="За стеклом">
                    </div>

                    <div id="btn-burger" class="content-logo__burger">
                        <div class="header__burger">
                            <span></span>
                        </div>
                    </div>

                    <!-- Меню бургера -->
                    <div id="header-logo__menu" class="header-logo__menu relative">
                        <div id="btn-close" class="close">
                            <i class="fa-solid fa-close color-white"></i>
                        </div>

                        <ul class='flex'>
                            <li><a href="#">Профилактика mob</a></li>
                            <li><a href="#">Заболевания</a></li>
                            <li><a href="#">Диализ</a></li>
                            <li><a href="#">Трансплантация</a></li>
                            <li><a href="#">Питание и ЛФК</a></li>
                            <li><a href="#">Вход для врача</a></li>
                            <li><a href="#">Личный кабинет</a></li>
                        </ul>

                        <!--<ul class="max-w-50">-->
                            <!--<li>-->
                                <!--&lt;!&ndash;<i class="fa-solid fa-thumbs-up fa-5x"></i>&ndash;&gt;-->
                                <!--<i class="fa-solid fa-close color-white"></i>-->
                            <!--</li>-->
                        <!--</ul>-->

                        <!--<div class="flex justify-center">-->
                            <!--<i class="fa-solid fa-thumbs-up fa-5x"></i>-->
                            <!--&lt;!&ndash;<img class="max-w-50 color-1" src="/nephrocenter/images/svg/close.svg" alt="close">&ndash;&gt;-->
                        <!--</div>-->

                    </div>
                </div>

                <div id="nav" class="nav">
                    <ul id="nav-ul" class="flex justify-center">
                        <li><a href="#">Профилактика</a></li>
                        <li><a href="#">Заболевания</a></li>
                        <li><a href="#">Диализ</a></li>
                        <li><a href="#">Трансплантация</a></li>
                        <li><a href="#">Питание&nbsp;и&nbsp;ЛФК</a></li>
                        <li><a href="#" class="flex"><img src="/nephrocenter/images/doctor-entry.png" alt="doctor-entry"> <span class="smaller">ВХОД&nbsp;ДЛЯ&nbsp;ВРАЧА</span></a></li>
                        <li><a href="#" class="flex"><img src="/nephrocenter/images/exit.png" alt="exit"> <span class="smaller center w-auto">ЛИЧНЫЙ&nbsp;КАБИНЕТ</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="block-center">
            <div class="content">
                <div id="menu-left" class="menu-left">
                    <ul class="">
                        <li><a href="#">Почки и их функции</a></li>
                        <li><a href="#">Симптомы при болезнях почек</a></li>
                        <li><a href="#">Диагностика болезней почек</a></li>
                        <li><a href="#">Мифы и факты о болезнях почек</a></li>
                        <li><a href="#">Предотвращение болезней почек</a></li>
                        <li><a href="#">Почки и беременность</a></li>
                        <li><a href="#">Библиотека пациента</a></li>
                    </ul>
                </div>

                <div id="menu-left-mobile" class="menu-left">
                    <ul class="">
                        <li><a href="#">Почки и их функции</a></li>
                        <li><a href="#">Симптомы при болезнях почек</a></li>
                        <li><a href="#">Диагностика болезней почек</a></li>
                        <li><a href="#">Мифы и факты о болезнях почек</a></li>
                        <li><a href="#">Предотвращение болезней почек</a></li>
                        <li><a href="#">Почки и беременность</a></li>
                        <li><a href="#">Библиотека пациента</a></li>
                    </ul>
                </div>

                <div id="content-detail" class="content-detail">
                    <h1>Почки и их функции</h1>

                    <div class="relative">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JlGszVs75Dw" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>


                    <div class="content-detail-inner">
                        <h2>Структура почек</h2>

                        <div>
                            <p>Почки - парный орган, по форме напоминающий фасоль. У взрослых каждая почка имеет длину 10 см, ширину 6 см и толщину 4 см. Она весит около 150-170 граммов. Подавляющее большинство людей (как мужчин, так и женщин) имеют две почки.</p>

                            <p>Почки расположены в верхней и задней стороне живота, по обе стороны от позвоночника. Они защищены от повреждения нижними ребрами и лежат глубоко внутри брюшной полости, так что в норме никто их не ощущает.</p>

                            <p>Почки производят мочу, удаляя токсичныe отходы обмена веществ и лишнюю водy из организма. Моча образуется непосредственно в почках, далее проходит через мочеточник,после чего впадает в мочевой пузырь, прежде чем окончательно покинуть организма через мочеиспускательный канал.</p>

                            <p>Моча образуется в почках и стекает в мочевой пузырь через мочеточники. Мочеточник представляет собой полую трубку, состоящую из особых мышц, длиной около 25 см.</p>
                        </div>

                        <div>
                            <img src="/nephrocenter/images/video-youtube.png" class="picture" alt="Структура почек">
                        </div>

                        <div>
                            <p>Мочевой пузырь представляет собой полый орган, состоящий из мышц, который расположен в нижней и передней часть живота. Он является резервуаром мочи и может ее накапливать, у взрослых может удерживать около 400500 мл мочи. Когда он полон, человек испытывает желание сходить в туалет и помочиться.</p>
                        </div>
                    </div>

                    <div class="content-detail-inner">
                        <h2>Почему почки так важны</h2>

                        <div class="flex justify-center">
                            <img src="/nephrocenter/images/nephrohelp.png" class="picture max-w-500" alt="Почему почки так важны">
                        </div>

                        <div>
                            <p>Мы потребляем разное количество еды каждый день.</p>
                            <p>В наш организм поступает ежедневно разное количество воды, солей и кислот.Непрерывный процесс преобразования пищи в энергию приводит к образованию вредных, токсичных веществ.Эти факторы приводят к изменению количества жидкости, электролитов и кислот в организме. Накопление вредных токсических веществ может угрожать жизни.</p>
                            <p class="color-2">Почки выполняют чрезвычайно важную работу по очистке и удалению вредных, ядовитых, кислотных и токсичных продуктов. В то же время, почки регулируют и поддерживают объем и состав воды, электролитов и кислот.</p>
                        </div>

                        <div class="flex justify-center">
                            <img src="/nephrocenter/images/nephrohelp.png" class="picture max-w-500" alt="функции почек">
                        </div>

                        <div>
                            <p class="color-2">Почки фильтруют кровь, и токсичные продукты выходят с мочой.</p>

                            <p>Пища, которую мы едим, содержит белок. Белок необходим для роста тела и его обновления. Но после того как белок использован организмом, от него остаются отходы. Накопление этих отходов действует на организм как яд.</p>

                            <p><span class="color-2">Креатинин и мочевина</span> - два важнейших токсичных вещества, количество которых в человеческом теле может быть легко измерено. Их содержание в крови отражает сохранность функции почек. Когда функция почек начинает снижаться, количество этих веществ в биохимическом анализе крови увеличивается.</p>

                            <p class="color-2">Почки регулируют баланс жидкости путем выведения излишнего количества воды с мочой, либо удерживания необходимого объема жидкости в организме.</p>

                            <p>Таким образом, почки поддерживают правильный объем воды в организме.</p>

                            <p class="color-2">Когда функция почек начинает угасать, они теряют способность выводить излишки жидкости. Накопление лишней жидкости в организме приводит к отекам.!!</p>

                            <p>Изменение концентрации соли в крови может повлиять на чувство жажды, в то время как изменение уровня калия может оказать серьезные эффекты на ритм сердца и функционирование мышц. Поддержание нормального уровня кальция и фосфора важно для здоровья костей и зубов.</p>

                            <p class="color-2">Почки играют другую важную роль в регуляции минералов и других химических веществ, таких как соль, калий, хлор, водород, кальций, фосфор, магний и бикарбонат; и поддерживают оптимальный состав жидкости в организме.</p>

                            <p>Почки вырабатывают различные гормоны (ренин, ангиотензин, альдостерон, простагландин и.т.д.) и регулируют количество воды и соли в организме, что играет главную роль в кровяном давлении.</p>

                            <p class="color-2">Нарушение выработки гормонов, регуляции соли и воды у пациентов с нарушенными функциями почек ведет к высокому кровяному давлению.</p>

                            <p>Эритропоэтин, вырабатывающийся в почках, играет важную роль в продукции красных кровяных телец – эритроцитов.</p>

                            <p class="color-2">Уменьшение выработки эритропоэтина почками ведет к уменьшению продукции эритроцитов. Появляется дефицит эритроцитов в организме, что называется анемией!</p>

                            <p>Из-за низкой продукции эритропоэтина у пациентов с повреждением почек гемоглобин не выходит на должный уровень, несмотря на поддержку препаратам и железа и витаминов. Почки переводят витамин D в его активную, гормональную форму, которая важна для всасывания кальция из пищи, нормального роста костей и зубов и поддержания костей здоровыми.</p>

                            <p class="color-2">Если у почек начинаются проблемы, то происходит снижение уровня активного витамина D в крови!</p>

                            <p>Задержка роста может быть первым знаком проблем с почками у детей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="support">
            <div class="content flex-col">
                <div id="support-title" class="support-flex">
                    <h2 class="title-alt2">При поддержке:</h2>
                </div>

                <div id="support-flex" class="support-flex">
                    <div>
                        <img src="/nephrocenter/images/support1.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support2.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support3.png" alt="support">
                    </div>

                    <div>
                        <img src="/nephrocenter/images/support4.png" alt="support">
                    </div>
                </div>

                <div id="support-mobile" class="support-flex">
                    <div class="">
                        <div>
                            <img src="/nephrocenter/images/support1.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support2.png" alt="support">
                        </div>
                    </div>

                    <div class="">
                        <div>
                            <img src="/nephrocenter/images/support3.png" alt="support">
                        </div>

                        <div>
                            <img src="/nephrocenter/images/support4.png" alt="support">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="content flex-col">
            <div id="footer-flex" class="footer-flex">
                <div class="flex-basis-25">
                    <p>Здоровье почек</p>
                    <p>Болезни почек</p>
                    <p>Почки и беременность</p>
                    <p>Возрастные заболевания почек</p>
                </div>

                <div class="flex-basis-25">
                    <p>Осложнения хронической</p>
                    <p>болезни почек</p>
                    <p>Гемодиализ</p>
                    <p>Перитонеальный диализ </p>
                </div>

                <div class="flex-basis-25">
                    <p>Трансплантация почки</p>
                    <p>Диета и питание</p>
                    <p>ЛФК. Физическая активность</p>
                    <p>при болезнях почек</p>
                </div>

                <div id="contacts" class="flex-basis-25">
                    <h3>Контакты</h3>

                    <div id="footer-phones" class="text-phone">
                        <p>8 (499) 196-22-48</p>
                        <p>8 (499) 196-18-84</p>
                    </div>
                </div>
            </div>

            <div id="footer-copyright" class="footer-flex">
                <div class="flex-basis-75">
                    <p class="">© 2022, ТелеНефроЦентр. Все права защищены.</p>
                </div>

                <div class="flex-basis-25">

                    <img src="/nephrocenter/images/svg/skype.svg" alt="skype">

                    <img src="/nephrocenter/images/svg/telegram.svg" alt="telegram">

                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/c82daa0ceb.js" crossorigin="anonymous"></script>

<script src="/nephrocenter/js/common.js"></script>

<script>

</script>
</body>
</html>

